@import 'variables';
@import 'mixins';

/* ==========================================================================
   #Comments styles - start
   ========================================================================== */

.eltd-comment-holder {
	padding: 33px 0 0;
	margin: 0 0 0;

	.eltd-comment-number-inner h5 {
		font-size: 18px;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		margin-bottom: 27px;
		color: #545454;
		font-style: normal;
		font-family: $headings-font-family;
	}

	.eltd-comment-image {
		display: block;
		width: 82px;
		float: left;

		img {
			display: block;
			margin-left: -22px;
		}
	}

	.eltd-comment-text {
		padding: 0 0 0 88px;
		font-weight: 300;
		color: #808080;

		.eltd-comment-info {
			display: inline-block;
			vertical-align: middle;
			width: 100%;

			span.eltd-comment-date {
				margin-left: 10px;
				font-family: $headings-font-family-2;
				font-size: 13px;
				float: right;
				font-style: italic;
			}
		}

		.replay,
		.comment-reply-link,
		.comment-edit-link {
			display: inline-block;
			margin-right: 15px;
		}

		.eltd-comment-name {
			float: left;
			color: $first-main-color;
			margin: 0;
		}
	}

	.eltd-comment {
		position: relative;
		padding: 40px 30px 40px 0;
		background-color: #f9f9f9;
	}

	.eltd-comment-reply-holder {

		a {
			text-transform: lowercase;
			font-size: 12px;
			font-family: $headings-font-family-2;
			font-style: italic;
			color: inherit;
		}

		a.comment-reply-link:after,
		a.comment-edit-link:after {
			content: "\4a";
			font-family: 'ElegantIcons';
			font-size: 18px;
			margin-left: 3px;
			text-transform: none;
			vertical-align: middle;
			position: relative;
		}

		a.comment-edit-link:after {
			content: "\6a";
			font-size: 14px;
		}
	}

}

.eltd-comment-list {
	list-style: none;
	position: relative;
	z-index: 150;
	padding: 0;
	margin: 30px 0 0;

	.children > li {
		margin-bottom: 30px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	li {
		display: inline-block;
		position: relative;
		width: 100%;
		margin-top: 20px;
	}

	> li {
		margin: 0 0 40px;

		@include eltdBoxSizing(border-box);
	}

	.children {
		margin: 30px 0 0 0;
		padding: 0 0 0 105px;
	}
}

.eltd-comment-form {
	margin-bottom: 40px;
}

.comment-respond {

	.comment-reply-title {
		font-size: 15px; /*font size changed because of the h-tags that are fixed by wordpress*/
		letter-spacing: 1.8px;
		text-transform: uppercase;
		margin-bottom: 27px;
		color: #545454;
		margin-top: 0;

		a {
			font-size: 16px;
		}
	}

	.logged-in-as {
		margin-bottom: 10px;
	}

	.form-submit {
		margin-top: 6px;
	}
}

.eltd-content ol,
.eltd-content ul.eltd-comment-list {
	margin: 0;
}

.eltd-comment-text {

	.comment-respond {
		margin: 20px 0;
	}
}

%input-style {
	width: 100%;
	margin-bottom: 11px;
	padding: 10px 15px;
	border: 1px solid #f2f2f2;
	outline: 0;
	font-family: inherit;
	font-size: 13px;
	background-color: #fff;
	color: #969696;
	@include eltdBoxSizing(border-box);

	&:focus {
		border: 1px solid $first-main-color;
	}
}

.wpcf7-form-control {
	&.wpcf7-text,
	&.wpcf7-number,
	&.wpcf7-date,
	&.wpcf7-textarea,
	&.wpcf7-select,
	&.wpcf7-quiz {
		@include inputStyle(false);
	}
}

.wpcf7 .wpcf7-form {
	.ajax-loader {
		display: block;
		margin: 4px auto 0;
	}
}

.post-password-form input[type='password'] {
	@include inputStyle;
}

#respond textarea,
#respond input[type='text'] {
	@include inputStyle(false);

	background-color: #fff;
}

/* ==========================================================================
   #Comments styles - end
   ========================================================================== */

/* ==========================================================================
   #Pagination styles - start
   ========================================================================== */

.eltd-pagination-helper {
	display: none;
}

.eltd-pagination {
	text-align: center;
	display: inline-block;
	width: 100%;
	vertical-align: middle;
	margin-top: 80px;

	ul {
		margin: 0;
		display: inline-block;
		vertical-align: middle;
	}

	li.eltd-pagination-prev span {
		font-size: 31px;
	}

	li.eltd-pagination-next span {
		font-size: 31px;
	}

	li {
		float: left;
		text-align: center;
		margin: 0 3px;
		display: block;

		&.active span {
			color: $first-main-color;
			background-color: #f9f8f8;
		}

		a,
		span {
			position: relative;
			display: inline-block;
			width: 40px;
			height: 40px;
			line-height: 40px;
			margin: 0;
			font-size: 15px;
			color: $default-text-color;
			background-color: #f9f9f9;
			vertical-align: middle;
			text-decoration: none;
			cursor: pointer;
			white-space: nowrap;
			box-sizing: content-box;
		}

		&:hover {
			a {
				color:lighten( $first-main-color, 15% );
			}
		}

	}
}

/* ==========================================================================
   #Pagination styles - end
   ========================================================================== */

/* ==========================================================================
   #Owl Slider (Blog single, Portfolio single) - begin
   ========================================================================== */
.eltd-owl-slider {

	.owl-controls {

		.owl-prev {
			position: absolute;
			top: 50%;
			@include eltdTransform(translateY(-50%));
			left: 2%;
		}

		.owl-next {
			position: absolute;
			top: 50%;
			@include eltdTransform(translateY(-50%));
			right: 2%;
		}

		.eltd-prev-icon,
		.eltd-next-icon {
			display: inline-block;
			width: 50px;
			height: 50px;
			text-align: center;

			@include eltdTransition(all 0.2s ease-out);

			&:hover {
				@include eltdTransform(scale(1.1, 0.8));
			}

			i {
				font-size: 50px;
				color: #636363;
				line-height: 50px;
			}

		}

	}

	.owl-pagination {
		text-align: center;

		.owl-page {
			display: inline-block;
		}

		.owl-page span {
			display: inline-block;
			width: 12px;
			height: 12px;
			margin: 3px;
			filter: Alpha(Opacity=50);
			opacity: 0.5;
			-webkit-border-radius: 20px;
			-moz-border-radius: 20px;
			border-radius: 20px;
			background: #e3e3e3;
		}

		.owl-page.active span {
			opacity: 1;
		}

	}

}

.eltd-carousel-pagination {
	.owl-pagination {
		text-align: center;
	}

	.owl-page {
		display: inline-block;
	}

	.owl-page span {
		display: inline-block;
		width: 12px;
		height: 12px;
		margin: 0 3px;
		background-color: #484848;

		@include eltdBorderRadius(50%);
		@include eltdTransition(background-color 0.25s ease-out);
	}

	&.eltd-carousel-pagination-light {
		.owl-page span {
			background-color: #fff;
		}
	}

	.owl-page.active span {
		background-color: $first-main-color;
	}
}

/* ==========================================================================
   #Owl Slider (Blog single, Portfolio single) - end
   ========================================================================== */

/* ==========================================================================
   #404 styles - start
   ========================================================================== */
body.error404 {
	background: transparent center center no-repeat url('img/404.jpg');
	background-size: cover;
	-webkit-background-attachment: fixed;
	background-attachment: fixed;

	.eltd-container,
	.eltd-content,
	.eltd-wrapper,
	&.eltd-header-standard .eltd-menu-area,
	.eltd-mobile-header .eltd-mobile-header-inner {
		background-color: transparent;
	}
}

.eltd-404-page {
	padding: 0;
	height: 1100px; // Only initial height
	position: relative;
}

.eltd-page-not-found {
	text-align: center;
	width: 60%;
	position: absolute;
	top: 50%;
	left: 50%;
	@include eltdTransform(translate(-50%, -50%));

	.eltd-404-mark {
		font-size: 160px;
		font-weight: 300;
		line-height: 1em;
		color: #383838;
		letter-spacing: 0.1em;

		@include phone-landscape {
			font-size: 90px;
		}
	}

	h2 {
		margin: 20px 0 55px;
		text-transform: uppercase;
		font-size: 32px;
	}

	p {
		font-family: $headings-font-family-2;
		font-style: italic;
		position: relative;

		&:before {
			content: '....................';
			display: block;
			position: absolute;
			width: 100%;
			text-align: center;
			top: -48px;
			font-family: $headings-font-family-2;
			font-style: italic;
			color: #808285;
			font-size: 15px;
		}
	}

	h4 {
		margin-bottom: 30px;
	}

	.eltd-btn {
		margin-top: 37px;
	}
}

/* ==========================================================================
   #404 styles - end
   ========================================================================== */

/* ==========================================================================
   #Back to Top styles - start
   ========================================================================== */
#eltd-back-to-top {
	display: block;
	position: fixed;
	right: 30px;
	bottom: 31px;
	margin: 0;
	width: 53px;
	height: 53px;
	opacity: 0;
	visibility: hidden;
	z-index: 10000;
	color: #fff;
	text-align: center;
	background-color: #3f3f3f;

	@include eltdTransition(opacity 0.2s ease-out, visibility 0.2s ease-out, color 0.2s ease-out, background-color 0.2s ease-out);
	@include eltdBoxSizing(border-box);

	&:after {
		content:'';
		position: absolute;
		top:0;
		left:0;
		height: 100%;
		width: 100%;
		background-color: rgba(255,255,255,.1);
		opacity: 0;
		@include eltdTransition(opacity .25s ease-in-out);
	}

	.eltd-back-to-top-inner {
		display: block;
		position: relative;
		top: 65%;

		@include eltdTransform(translateY(-50%));
	}

	.eltd-back-to-top-text {
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;
		font-family: $headings-font-family;

		@include eltdTransition(opacity 0.2s ease-in-out);
	}

	.eltd-icon-stack {
		display: block;
		position: absolute;
		left: 50%;
		margin-left: -14px;
		margin-top: 10px;
		line-height: inherit;
		font-size: 28px;

		@include eltdTransition(transform 0.2s ease-out);
	}

	&.off {
		opacity: 0;
		visibility: hidden;
	}

	&.on {
		opacity: 1;
		visibility: visible;
	}

	&:hover {

		&:after{
			opacity: 1;
		}

		.eltd-back-to-top-text {
			opacity: 0;
		}
	}
}

/* ==========================================================================
   #Back to Top styles - end
   ========================================================================== */

/* ==========================================================================
   #Self Hosted Video styles - start
   ========================================================================== */
.eltd-self-hosted-video-holder {
	.eltd-video-wrap {
		.mejs-container,
		.mejs-overlay-play {
			height: 100% !important; /*!important because of the inline style*/
			width: 100% !important; /*!important because of the inline style*/
		}
	}
}

/* ==========================================================================
   #Self Hosted Video styles - end
   ========================================================================== */

/* ==========================================================================
   #Screen reader text - start
   ========================================================================== */

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;

	&:focus {
		background-color: #f1f1f1;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		color: #21759b;
		display: block;
		font-size: 14px;
		font-size: 0.875rem;
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}

}

/* ==========================================================================
   #Screen reader text - end
   ========================================================================== */

.eltd-like.liked {
	color: $first-main-color;
}

.eltd-like.liked .icon_heart_alt {
	color: $first-main-color;
}

/* ==========================================================================
   #Default sidebar styles - start
   ========================================================================== */

aside.eltd-sidebar {

	.widget_search input[type=text]::-webkit-input-placeholder {
		color: #808285;
		font-size: 13px;
		font-weight: 400;
		font-style: italic;
	}

	.widget_search input[type=text]:-moz-placeholder {
		color: #808285;
		font-size: 13px;
		font-weight: 400;
		font-style: italic;
	}

	.widget_search input[type=text]::-moz-placeholder {
		color: #808285;
		font-size: 13px;
		font-weight: 400;
		font-style: italic;
	}

	.widget_search input[type=text]:-ms-input-placeholder {
		color: #808285;
		font-size: 13px;
		font-weight: 400;
		font-style: italic;
	}

	.widget_search input[type=text]:-ms-input-placeholder {
		color: #808285;
		font-size: 13px;
		font-weight: 400;
		font-style: italic;
	}

	ul li:last-child {
		border-bottom: 0 !important;
	}

	.widget {

		margin-bottom: 40px;

		ul li {
			color: #808285;
			font-weight: 300;
		}

		h3 {
			color: #414042;
			text-transform: uppercase;

			span.eltd-sidearea-title {
				display: table-cell;
				width: 1%;
				white-space: nowrap;
				line-height: inherit;
				letter-spacing: 0.1em;
			}
		}

		&.eltd-latest-posts-widget {
			margin-bottom: 49px;

			h3 {
				margin-bottom: 30px;
			}

			.eltd-image-in-box,
			.eltd-minimal {
				.eltd-item-title {
					text-transform: uppercase;

					&:hover a {
						color: $first-main-color;
					}

					a {
						color: #383838;
						font-size: 15px;
						font-style: normal;

						@include eltdTransition(color 0.2s ease-out);
					}
				}

				.eltd-excerpt {
					font-weight: 300;
				}
			}

		}

		&.widget_text {

			h5 {
				margin-top: 9px;
			}

			h6 {
				margin-top: 0;
			}
		}

		ul li {

			a {
				font-size: 15px;
				line-height: 20px;
				font-weight: 300;
				font-family: $headings-font-family;
				color: #808285;
				letter-spacing: 0;

				@include eltdTransition(color .15s ease-out);

				&:hover {
					color: $first-main-color;
				}
			}
		}

		ul {
			list-style: none;
		}

		&.widget_archive select,
		&.widget_categories select,
		&.widget_text select {
			border: 1px solid #808285 !important;
		}

		&.widget_price_filter,
		&.widget_product_categories {
			margin-bottom: 45px;
		}

		&.widget_products {
			margin-bottom: 40px;
		}

		&.widget_top_rated_products {
			margin-bottom: 38px;
		}

		.searchform {
			position: relative;
			padding-right: 50px;
			overflow: hidden;
			padding-bottom: 10px;

			input[type=text] {
				width: 100%;
			}

			input[type=submit] {
				position: absolute;
				right: 0;
			}
		}

		.searchform input[type=submit] {
			border: none;
			outline: 0;
			font-family: 'ElegantIcons';
			width: 60px;
			height: 50px;
			cursor: pointer;
			color: #909090;
			background-color: #fff;
			font-size: 13px;
			border: 1px solid #d7d7d7;
			border-left: 0;

			@include eltdBorderRadius(0);
		}

		&.widget_archive select,
		&.widget_categories select,
		.searchform input[type=text],
		&.widget_text select {
			width: 100%;
			overflow: hidden;
			background-color: #fff;
			padding: 0 21px;
			height: 50px;
			outline: none;
			color: #7f8385;
			font-family: inherit;
			border: 1px solid #d7d7d7;
			float: left;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;

			@include eltdBoxSizing(border-box);
		}

		.searchform input[type=text] {

			& + input {
				@include eltdTransition(all 0s);
			}

			&:focus {
				border:1px solid #999;
			}

			&:focus + input {
				border:1px solid #999;
				border-left:none;
				@include eltdTransition(all 0s);
			}
		}

		&.widget_categories {
			margin-bottom: 37px;

			li {
				font-size: 15px;
				font-family: $headings-font-family;
				color: #808285;
				font-weight: 300;
				margin-top: 9px;
				margin-bottom: 9px;
			}

			h3 {
				margin-top: 0;
				margin-bottom: 21px;
			}

			h4 {
				margin-bottom: 15px;
			}

			ul li {
				position: relative;

				a {
					padding-bottom: 7px;
					padding-top: 7px;
				}
			}

			ul {
				margin-top: 0;
			}

		}

		&.widget_recent_comments li.recentcomments {
			padding-top: 7px;
			padding-bottom: 7px;
			font-size: 15px;
		}

		&.widget_rss ul li {
			padding-bottom: 7px;
			padding-top: 7px;
		}

		&.widget_nav_menu {

			ul.menu li a {
				padding-top: 7px;
				padding-bottom: 7px;
				display: block;
			}

			ul.sub-menu {

				> li {

					&:first-child {
						border-top: 0;
					}
				}
			}

			.current-menu-item > a {
				color: $first-main-color;
			}

			.menu-item-has-children > a {
				position: relative;

				&:after {
					content: '\35';

					position: absolute;
					right: 0;

					font-family: 'ElegantIcons';
					font-size: 12px;
					color: #cacaca;

					@include eltdTransition(0.2s ease-out);
				}

				&.eltd-custom-menu-active {
					&:after {
						@include eltdTransform(rotate(90deg));
					}
				}
			}

			li:last-child {
				a {
					padding-bottom: 7px !important;
				}
			}

			.sub-menu {
				display: none;
			}

			.current-menu-ancestor > .sub-menu,
			.current-menu-parent > .sub-menu {
				display: block;
			}
		}

		&.widget_calendar,
		&.widget_pages {
			margin-top: 80px;
			font-weight: 300;
		}

		&.widget_eltd_instagram_widget {
			margin-bottom: 37px;

			h3 {
				margin-bottom: 32px;
			}
		}

		&.widget_meta ul li {

			a {
				padding-bottom: 7px;
				padding-top: 7px;
			}
		}

		&.widget_pages ul li {

			ul.children {

				li:last-child {
					border-bottom: 0;
				}
			}

			a {
				padding-bottom: 7px;
				padding-top: 7px;
			}

		}

		&.widget_product_tag_cloud .tagcloud a,
		&.widget_tag_cloud .tagcloud a {
			font-size: 12px !important;
			display: inline-block;
			font-family: $headings-font-family;
			text-transform: uppercase;
			font-weight: 700;
			color: #363636;
			padding: 4px 28px;
			margin-bottom: 3px;
			border: 1px solid #e1e1e1;
			background-color: #fff;

			@include eltdTransition(background-color .2s ease-out, border .2s ease-out, color .2s ease-out);

			&:hover {
				background-color: $first-main-color;
				border: 1px solid $first-main-color;
				color: #fff;
			}
		}

		&.widget_tag_cloud {

			h3 {
				margin-bottom: 30px;
				margin-top: 15px;
			}
		}

		&.widget_archive ul li {

			a {
				padding-bottom: 7px;
				padding-top: 7px;
			}
		}

		&.widget_eltd_twitter_widget {
			margin-bottom: 27px;

			h3 {
				margin-bottom: 20px;
			}

			.eltd-tweet-holder,
			.eltd_tweet_time {
				line-height: 24px;
				font-weight: 300;

				a:hover {
					color: $first-main-color;
				}
			}

			ul.eltd_twitter_widget {
				position: relative;

				&:before {
					content: "\e094";
					font-family: 'ElegantIcons';
					color: #f7f7f7;
					font-size: 102px;
					position: absolute;
					top: 15px;
					right: 50%;

					@include eltdTransform(translateX(50%));
				}

				li {
					padding-bottom: 8px;

					&:after {
						content: '....................';
						font-weight: 300;
						color: $first-main-color;
						font-family: $headings-font-family-2;
						font-size: 15px;
						font-style: italic;
					}

				}
			}

			.eltd_tweet_text {
				font-size: 15px;
				color: #707070;
				z-index: 10;
				position: relative;
				margin-bottom: 2px;
			}
		}

	}

}

@include ipad-portrait {
	.eltd-two-columns-66-33 > .eltd-column1,
	.eltd-two-columns-66-33 > .eltd-column2,
	.eltd-two-columns-33-66 > .eltd-column1,
	.eltd-two-columns-33-66 > .eltd-column2,
	.eltd-two-columns-75-25 > .eltd-column1,
	.eltd-two-columns-75-25 > .eltd-column2,
	.eltd-two-columns-25-75 > .eltd-column1,
	.eltd-two-columns-25-75 > .eltd-column2,
	.eltd-two-columns-50-50 > .eltd-two-columns-50-50-inner > .eltd-column,
	.eltd-three-columns > .eltd-three-columns-inner > .eltd-column,
	.eltd-four-columns > .eltd-four-columns-inner > .eltd-column,
	.eltd-five-columns > .eltd-five-columns-inner > .eltd-column {
		width: 100%;
	}

	.eltd-two-columns-50-50 > .eltd-two-columns-50-50-inner,
	.eltd-three-columns > .eltd-three-columns-inner,
	.eltd-four-columns > .eltd-four-columns-inner,
	.eltd-five-columns > .eltd-five-columns-inner {
		margin: 0;
	}

	.eltd-two-columns-66-33 > .eltd-column1 > .eltd-column-inner,
	.eltd-two-columns-66-33 > .eltd-column2 > .eltd-column-inner,
	.eltd-two-columns-33-66 > .eltd-column1 > .eltd-column-inner,
	.eltd-two-columns-33-66 > .eltd-column2 > .eltd-column-inner,
	.eltd-two-columns-75-25 > .eltd-column1 > .eltd-column-inner,
	.eltd-two-columns-75-25 > .eltd-column2 > .eltd-column-inner,
	.eltd-two-columns-25-75 > .eltd-column1 > .eltd-column-inner,
	.eltd-two-columns-25-75 > .eltd-column2 > .eltd-column-inner,
	.eltd-two-columns-50-50 > .eltd-two-columns-50-50-inner > .eltd-column > .eltd-column-inner,
	.eltd-three-columns > .eltd-three-columns-inner > .eltd-column > .eltd-column-inner,
	.eltd-four-columns > .eltd-four-columns-inner > .eltd-column > .eltd-column-inner,
	.eltd-five-columns > .eltd-five-columns-inner > .eltd-column > .eltd-column-inner {
		padding: 0;
	}
}

@include ipad-landscape {
	.eltd-page-sidebar.eltd-two-columns-66-33 .eltd-column1,
	.eltd-page-sidebar.eltd-two-columns-66-33 .eltd-column2,
	.eltd-page-sidebar.eltd-two-columns-33-66 .eltd-column1,
	.eltd-page-sidebar.eltd-two-columns-33-66 .eltd-column2,
	.eltd-page-sidebar.eltd-two-columns-25-75 .eltd-column1,
	.eltd-page-sidebar.eltd-two-columns-25-75 .eltd-column2,
	.eltd-page-sidebar.eltd-two-columns-75-25 .eltd-column1,
	.eltd-page-sidebar.eltd-two-columns-75-25 .eltd-column2 {
		width: 100%;
	}

	.eltd-two-columns-66-33 .eltd-column1 .eltd-column-inner,
	.eltd-two-columns-33-66 .eltd-column1 .eltd-column-inner,
	.eltd-two-columns-75-25 .eltd-column1 .eltd-column-inner,
	.eltd-two-columns-25-75 .eltd-column1 .eltd-column-inner {
		padding-right: 0;
	}

	.eltd-two-columns-66-33 .eltd-column2 .eltd-column-inner,
	.eltd-two-columns-33-66 .eltd-column2 .eltd-column-inner,
	.eltd-two-columns-75-25 .eltd-column2 .eltd-column-inner,
	.eltd-two-columns-25-75 .eltd-column2 .eltd-column-inner {
		padding-left: 0;
	}
}

/* ==========================================================================
   #Default sidebar styles - end
   ========================================================================== */

/* ==========================================================================
   #Row  - start
   ========================================================================== */

.vc_row.wpb_row.vc_row-fluid.eltd-video {
	overflow: hidden;
}

/* ==========================================================================
   #Row  - end
   ========================================================================== */