/*
Theme Name: Malmo
Theme URI: http://malmo.elated-themes.com
Description: A Charming Multi-concept Theme
Author: Elated Themes
Author URI: http://themeforest.net/user/elated-themes
Version: 1.9
Text Domain: malmo
License: GNU General Public License
License URI: licence/GPL.txt
Tags: one-column, two-columns, three-columns, four-columns, left-sidebar, right-sidebar, custom-menu, featured-images, flexible-header, post-formats, sticky-post, translation-ready

CSS changes can be made in files in the /css/ folder. This is a placeholder file required by WordPress, so do not delete it.

*/

.eltd-logo-wrapper a img.eltd-normal-logo{width:75px !important;}
.eltd-wrapper .eltd-main-menu>ul>li.eltd-active-item>a, body:not(.eltd-menu-item-first-level-bg-color) .eltd-main-menu>ul>li:hover>a{color:#20459B;}
.eltd-wrapper .eltd-main-menu>ul>li.eltd-active-item>a, body:not(.eltd-menu-item-first-level-bg-color) .eltd-main-menu>ul>li:hover>a{color:#20459B !important;}

h3,h5.eltd-pi-title{color:#20459B !important;}
h5.eltd-testimonial-author-text {color:#d83e2c !important;}
.eltd-wrapper .cf7_custom_style_1 input.wpcf7-form-control.wpcf7-submit{background:#d83e2c;border-color:#d83e2c;}