.eltd-header-vertical {

	.eltd-vertical-menu-area-inner {
		text-align: center;
		font-weight: 300;
	}

	.eltd-logo-wrapper {
		z-index: 100;
		display: inline-block;
		position: relative;
		text-align: center;
		overflow: hidden;
		margin-top: 15px;

		@include mac {
			margin-top: 7px;
		}

		a {
			display: block;
			position: relative;
			height: 100%;
		}

		img {
			display: block;
			height: auto;
			max-height: 100%;

			@include eltdTransition(opacity 0.3s ease);
		}
	}
}