/* Slider */

.slick-slider {
	position: relative;
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

.slick-list {
	position: relative;
	overflow: hidden;
	display: block;
	margin: 0;
	padding: 0;

	&:focus {
		outline: none;
	}

	&.dragging {
		cursor: pointer;
		cursor: hand;
	}
}

.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	left: 0;
	top: 0;
	display: block;

	&:before,
	&:after {
		content: "";
		display: table;
	}

	&:after {
		clear: both;
	}

	.slick-loading & {
		visibility: hidden;
	}
}

.slick-slide {
	float: left;
	height: 100%;
	min-height: 1px;
	[dir="rtl"] & {
		float: right;
	}
	img {
		display: block;
	}
	&.slick-loading img {
		display: none;
	}

	display: none;

	&.dragging img {
		pointer-events: none;
	}

	.slick-initialized & {
		display: block;
	}

	.slick-loading & {
		visibility: hidden;
	}

	.slick-vertical & {
		display: block;
		height: auto;
		border: 1px solid transparent;
	}
}

.slick-arrow.slick-hidden {
	display: none;
}

.slick-prev,
.slick-next {
	position: absolute;
	top: 50%;
	padding: 0;
	width: 50px;
	height: 50px;
	z-index: 100;
	@include eltdTransform(translateY(-50%));
	background-color: transparent;
	border: 0;
	color: transparent;
	text-indent: -9999px;
	cursor: pointer;
	outline: none;

	&:before {
		color: red;
		position: absolute;
		top: 0px;
		font-size: 36px;
		font-weight: 400;
		height: 31px;
		line-height: 31px;
		width: 50px;
		font-family: 'Linearicons-Free';
		text-align: center;
		text-indent: 0;
		visibility: visible;
		cursor: pointer;
	}
}

.slick-prev {
	right: 100%;
	@include eltdTransform(translateY(-50%));

	&:before {
		left: -14px;
		content: '\e875';
	}
}

.slick-next {
	left: 100%;

	&:before {
		content: '\e876';
		right: -14px;
	}
}