@media only screen and (max-width: map-get($breakpoints, laptop-landscape-large)) {
	.eltd-blog-slider-holder {

		.slick-arrow {

			&.eltd-prev-icon {
				left: -30px;
			}

			&.eltd-next-icon {
				right: -30px;
			}
		}
	}
}

@include ipad-landscape {
	.eltd-blog-slider-holder {

		.eltd-bs-item-image-holder {
			padding-bottom: 60%;
		}

		.eltd-bs-item-excerpt {
			display: none;
		}

		.eltd-bs-item-content {
			width: 55%;

			top: 50%;
			left: 50%;

			background: #fff;
			text-align: center;
			padding: 46px 60px 62px;

			@include eltdBoxSizing(border-box);
			@include eltdTransform(translate(-50%, -50%));
		}

		h2.eltd-bs-item-title {
			font-size: 30px;
		}

		.owl-prev {
			left: 20px;
		}

		.owl-next {
			right: 20px;
		}

		.owl-prev,
		.owl-next {
			font-size: 40px;
		}

		ul.slick-dots {
			bottom: 20px;
		}
	}
}

@include ipad-portrait {
	.eltd-blog-slider-holder {

		.eltd-bs-item-image-holder {
			padding-bottom: 70%;
		}

		ul.slick-dots {
			bottom: 0;
			display: none !important;
		}

		.eltd-bs-item-text {
			padding: 15px 0px 25px;
		}

		.eltd-bs-item-button {
			display: none;

			&.small {
				display: block;
			}
		}
	}

	.eltd-blog-slider-holder .eltd-bs-item-content {
		width: 75%;
	}
}

@media only screen and (max-width: map-get($breakpoints, mac)) {
	.eltd-blog-slider-holder .eltd-bs-item-content {
		padding: 41px 35px 52px;
	}
}

@include phone-landscape {
	.eltd-blog-slider-holder {

		.eltd-bs-item-content {
			padding: 17px;
		}

		.eltd-post-info {
			display: none;

			&.small {
				display: block;
			}
		}

		h2.eltd-bs-item-title {
			font-size: 24px;
			line-height: 30px;
		}

		.eltd-bs-item-bottom-section {
			display: none;
		}

		.owl-prev,
		.owl-next {
			display: none;
		}
	}
}

@include phone-portrait {
	.eltd-blog-slider-holder {

		.eltd-bs-item-image-holder {
			padding-bottom: 100%;
		}

		.eltd-bs-item-content {
			width: 82%;
		}
	}

	.eltd-blog-slider-holder .slick-arrow.eltd-prev-icon {
		left: -15px;
		font-size: 20px;
	}

	.eltd-blog-slider-holder .slick-arrow.eltd-next-icon {
		right: -15px;
		font-size: 20px;
	}
}