/* ==========================================================================
   Blockquote shortcode start styles
   ========================================================================== */
blockquote {
	position: relative;
	text-align: center;

	&.eltd-blockquote-shortcode {
		margin: 0 auto;
	}

	.eltd-icon-quotations-holder {
		display: block;
		width: 40px;
		margin: 0 auto;
		font-size: 24px;
		line-height: 24px;
		color: $first-main-color;
		position: relative;

		&:after,
		&:before {
			content: '';
			width: 90px;
			height: 1px;
			background-color: #d7d7d7;
			position: absolute;
			top: 50%;
		}

		&:after {
			left: 100%;
		}

		&:before {
			right: 100%;
		}
	}

	.eltd-blockquote-text {
		font-style: italic;
		font-size: 15px;
		margin-top: 18px;
	}
    
}

/* ==========================================================================
   Blockquote shortcode end styles
   ========================================================================== */