/* #Latest posts
   ========================================================================== */
.eltd-blog-list-holder {
	display: inline-block;
	width: 100%;

	& > ul {
		list-style: none;
		display: inline-block;
		width: 100%;
		height: 100%;
		position: relative;
		margin: 0;
		padding: 0;
		vertical-align: top;

		& > li {
			display: block;
			position: relative;
		}
	}

	.eltd-excerpt {
		margin: 0;
	}

	.eltd-item-info-section > div {
		display: inline;
		padding: 0 5px;

		&:first-child {
			padding: 0 5px 0 0;
		}

		> a {
			color: inherit;

			&:hover {
				color: $first-main-color;
			}
		}
	}

	.eltd-item-info-section .eltd-blog-like a i {
		margin: 0 5px 0 0;
	}

	.eltd-item-image {
		a {
			display: block;
			position:relative;

			&:after {
				content:"";
				position:relative;
				width:50px;
				height:50px;
			}
		}

		img {
			vertical-align: middle;
		}
	}

	.eltd-item-title {
		margin-top: 0;
	}
}

/* #Blog list grid styles - start
   ========================================================================== */
.eltd-blog-list-holder {

	&.eltd-blog-list-grid {
		margin: 0 -15px;
		width: auto;

		.eltd-blog-list-item {
			padding: 0 15px;
			float: left;

			@include eltdBoxSizing(border-box);
		}
	}

	&.eltd-one-column > ul > li {
		float: none;
	}

	&.eltd-two-columns > ul > li {
		width: 50%;
	}

	&.eltd-three-columns > ul > li {
		width: 33.33%;
	}

	&.eltd-four-columns > ul > li {
		width: 25%;
	}

	&.eltd-two-columns ul.eltd-blog-list li:nth-child(2n+1),
	&.eltd-three-columns ul.eltd-blog-list li:nth-child(3n+1),
	&.eltd-four-columns ul.eltd-blog-list li:nth-child(4n+1) {
		clear: both;
	}
}

/* #Blog list grid styles - end
   ========================================================================== */

/* #Blog list grid type 1 styles - start
   ========================================================================== */
.eltd-blog-list-holder.eltd-grid-type-1 {

	.eltd-blog-list-item-inner {
		position: relative;
		box-sizing: border-box;
		padding-left: 28px;
	}

	.eltd-post-info-date {
	    position: relative;
	    display: inline-block;
	    background-color: #363636;
		color: #808285;
	    padding: 10px 20px;

	    .eltd-post-date-wrapper {
		    display: inline-block;
		    text-align: center;
		}

		.eltd-post-date-day,
		.eltd-post-date-month,
		.eltd-post-date-year {
			display: block;
		}

		.eltd-post-date-day {
			font-size: 34px;
			line-height: 1em;
			font-weight: 300;
			color: #fff;
			margin-top: 0;
		}

		.eltd-post-date-month {
			font-family: $headings-font-family-2;
			font-style: italic;
			font-size: 13px;
			margin-top: 3px;
		}

		.eltd-post-date-year {
			font-weight: 400;
			margin-top: 5px;
			display: none;
		}
	}

	.eltd-post-with-image {

		position:relative;

		.eltd-post-info-date {
		    position: absolute;
		    top: 25px;
		    left: -22px;
		}				
	}

	.eltd-blog-list-item {
		margin-bottom: 78px;
	}

	.eltd-item-image {

		.eltd-blog-list-image-wrapper {

			overflow:hidden;

			a {

				@include eltdTransition(0.15s all ease-out);

				&:hover {
					@include eltdTransform(scale(1.03,1.03));
				}

			}

			img {

				&:after {
					content:"";
					position: absolute;
				    top: 0;
				    left: 0;
				    width: 100%;
				    height: 100%;
				    @include eltdTransition(all 0.2s ease-in-out);
				}
			}

		}
	}

	.eltd-item-title {
		text-transform: uppercase;
		margin-top: 30px;
		margin-bottom: 0;
	}

	.eltd-post-info-category {
		font-family: $headings-font-family-2;
		font-style: italic;
		margin-top: 3px;
		text-transform: capitalize;

		a {
			color: inherit;

			&:hover {
				color: $first-main-color; 
			}
		}
	}

	.eltd-excerpt {
		margin-top: 14px;
		font-weight: 300;
	}

	&.eltd-blog-list-light {
		.eltd-item-title,
		.eltd-excerpt {
			color: #fff;
		}
	}

	.eltd-post-info {
		margin-bottom: 0;
		position: relative;
		font-family: $headings-font-family-2;
		font-style: italic;

		.icon_heart {
			margin-right: 3px;
		}

		span.icon_tags {
			margin-right: 10px;
			font-size: 14px;
		}

		> div {
			display: inline-block;
			position: relative;

			&:not(.eltd-post-info-category):after {
				content: '/';
				margin-left: 4px;
				margin-right: 7px;
			}
		}

		a {
			color: inherit;

			&:hover {
				color:$first-main-color;
			}
		}
	}
}

/* #Blog list grid type 1 styles - end
   ========================================================================== */

/* #Blog list grid type 2 styles - start
   ========================================================================== */
%blog-list-grid-type-2 {
	.eltd-blog-list-item {
		margin-bottom: 50px;
	}

	.eltd-item-image {
		margin-bottom: 27px;
	}

	.eltd-item-title {
		margin-bottom: 22px;
	}

	.eltd-item-date {
		font-family: $headings-font-family;
		font-size: 16px;
		color: #ababab;
		font-weight: 500;

		margin-bottom: 9px;
	}

	.eltd-post-item-author-holder {
		border-top: 1px solid #f2f2f2;
		padding-top: 12px;
		margin-top: 22px;

		font-family: $headings-font-family;
		font-weight: 600;
		font-size: 14px;
		color: #545454;

		@include eltdClearfix();

		a {
			color: inherit;

			&:hover {
				color: $first-main-color;
			}
		}
	}

	.eltd-post-item-author-avatar-holder {
		overflow: hidden;
		display: inline-block;
		width: 30px;
		height: 30px;
		vertical-align: middle;
		margin-right: 13px;

		@include eltdBorderRadius(50%);

		img {
			display: inline-block;
		}
	}

	.eltd-post-item-author-name {
		line-height: 30px;
	}
}

.eltd-blog-list-holder.eltd-grid-type-2 {

	@extend %blog-list-grid-type-2;

	&.eltd-blog-list-light {
		.eltd-item-date,
		.eltd-item-title,
		.eltd-excerpt,
		.eltd-post-item-author-holder {
			color: #fff;
		}

		.eltd-post-item-author-holder {
			border-color: rgba(255, 255, 255, 0.1);
		}
	}
}

/* #Blog list grid type 2 styles - start
   ========================================================================== */

/* #Masonry blog list styles
   ========================================================================== */
.eltd-blog-list-holder.eltd-masonry {

	.eltd-blog-list-masonry-grid-sizer {
		width: 32%;
	}

	.eltd-blog-list-masonry-grid-gutter {
		width: 2%;
	}

	.eltd-blog-list-masonry-item {
		width: 32%;
	}

	@extend %blog-list-grid-type-2;
}

/* #Masonry blog list styles - end
   ========================================================================== */

/* #Image in a box blog list styles
   ========================================================================== */
.eltd-blog-list-holder.eltd-image-in-box {
	.eltd-blog-list-item {
		padding: 8px 0;

		&:first-child {
			padding-top: 0;
		}

		&:last-child {
			border-bottom: none;
			padding-bottom: 0;
		}
	}

	.eltd-item-image {
		float: left;

		a img {
			width: 85px;

			@include eltdBorderRadius(50%);
		}
	}

	.has-post-thumbnail {
		.eltd-item-text-holder {
			padding-left: 102px;
		}
	}

	.eltd-item-title {
		margin-top: 0;
		margin-bottom: 0;
	}

	h4.eltd-item-title {
		font-size: 15px;

		a {
			&:hover {
				color: $first-main-color;
			}
		}
	}

	.eltd-item-date {
		color: #808285;
		font-size: 12px;
		font-family: $headings-font-family;
		font-weight: 300;
	}
}

/* #Image in a box blog list styles - end
   ========================================================================== */

/* #Minimal blog list styles
   ========================================================================== */
.eltd-blog-list-holder.eltd-minimal {
	li.eltd-blog-list-item {
		&:after {
			content: '....................';
			font-weight: 300;
			font-style: italic;
			color: #fff;
			font-family: $headings-font-family-2;
		}

		&:first-child {
			padding-top: 0;
		}

		&:last-child {
			border-bottom: none;
			padding-bottom: 0;
		}
	}

	.eltd-item-title {
		color: #545454;
		margin-top: 11px;
		margin-bottom: 8px;
	}

	h6.eltd-item-title {
		font-size: 15px;
	}

	.eltd-item-date {
		color: #939598;
		font-size: 12px;
		font-family: $headings-font-family;
		font-weight: 300;
		margin-bottom: 3px;
	}

	li:last-child.eltd-blog-list-item:after {
		content: '';
	}
}

/* #Minimal blog list styles - end
   ========================================================================== */

/* #Blog list footer styles - start
   ========================================================================== */


/* #Blog list footer styles - end
   ========================================================================== */