/* ==========================================================================
   Google Map start style
   ========================================================================== */

.eltd-google-map-overlay {
	@include ipad-landscape {
		display: block;
	}
}

/* ==========================================================================
   End of Google Map style
   ========================================================================== */