/* ==========================================================================
# Image Gallery - begin
========================================================================== */

/* Image Gallery Grid - begin
========================================================================== */

.eltd-image-gallery {

	.eltd-image-gallery-grid.eltd-gallery-columns-2 {

		.eltd-gallery-image {

			@include phone-portrait {
				width: 100%;
				margin-right: 0;
				margin-bottom: 2%;
			}

		}

	}

	.eltd-image-gallery-grid.eltd-gallery-columns-3 {

		.eltd-gallery-image {

			@include ipad-portrait {
				width: 49%;
				margin-right: 2%;
				margin-bottom: 2%;

				&:nth-child(2n) {
					margin-right: 0;
				}

				&:nth-child(2n+1) {
					clear: both;
					margin-right: 2%;
				}

				&:nth-child(3n+1) {
					clear: none;
				}

			}

			@include phone-portrait {
				width: 100%;
				margin-right: 0;
				margin-bottom: 2%;
			}

		}

	}

	.eltd-image-gallery-grid.eltd-gallery-columns-4 {

		.eltd-gallery-image {

			@include ipad-landscape {
				width: 50%;
				margin-right: 2%;
				margin-bottom: 2%;

				&:nth-child(3n) {
					margin-right: 0;
				}

				&:nth-child(3n+1) {
					margin-right: 2%;
				}

				&:nth-child(4n+1) {
					clear: none;
				}
			}

			@include ipad-portrait {
				width: 49%;
				margin-right: 2%;
				margin-bottom: 2%;

				&:nth-child(2n) {
					margin-right: 0;
				}

				&:nth-child(2n+1) {
					clear: both;
					margin-right: 2%;
				}

				&:nth-child(3n+1) {
					clear: none;
				}

			}

			@include phone-portrait {
				width: 100%;
				margin-right: 0;
				margin-bottom: 2%;
			}

		}

	}

	.eltd-image-gallery-grid.eltd-gallery-columns-5 {

		.eltd-gallery-image {

			@include laptop-landscape {
				width: 24%;
				margin-right: 1.33333%;
				margin-bottom: 1.33333%;

				&:nth-child(4n) {
					margin-right: 0;
				}

				&:nth-child(4n+1) {
					clear: both;
					margin-right: 1.33333%;
				}

				&:nth-child(5n+1) {
					clear: none;
				}

			}

			@include ipad-landscape {
				width: 32%;
				margin-right: 2%;
				margin-bottom: 2%;

				&:nth-child(3n) {
					margin-right: 0;
				}

				&:nth-child(3n+1) {
					clear: both;
					margin-right: 2%;
				}

				&:nth-child(4n+1) {
					clear: none;
				}

			}

			@include ipad-portrait {
				width: 49%;
				margin-right: 2%;
				margin-bottom: 2%;

				&:nth-child(2n) {
					margin-right: 0;
				}

				&:nth-child(2n+1) {
					clear: both;
					margin-right: 2%;
				}

				&:nth-child(3n+1) {
					clear: none;
				}
			}

			@include phone-portrait {
				width: 100%;
				margin-right: 0;
				margin-bottom: 2%;
			}

		}

	}

}

@include ipad-landscape {
	.eltd-image-gallery .eltd-image-gallery-grid.eltd-no-space .eltd-gallery-image:nth-child(3n+1),
	.eltd-image-gallery .eltd-image-gallery-grid.eltd-no-space .eltd-gallery-image:nth-child(2n+1) {
		margin-right: 0 !important;
	}

	.eltd-image-gallery .eltd-image-gallery-grid.eltd-no-space .eltd-gallery-image {
		margin-right: 0 !important;
		margin-bottom: 0 !important;
	}
}

/* Image Gallery Grid - end
========================================================================== */

/* Image Gallery Slider - begin
========================================================================== */

/* Image Gallery Slider - end
========================================================================== */

/* ==========================================================================
# Image Gallery - end
========================================================================== */