/* ==========================================================================
# Pricing table style - begin
========================================================================== */

.eltd-pricing-tables {

	.eltd-pricing-tables-inner {
		margin: 0 -15px;
	}

	&.eltd-two-columns .eltd-price-table {
		width: 50%;
	}

	&.eltd-three-columns .eltd-price-table {
		width: 33.33%;
	}

	&.eltd-four-columns .eltd-price-table {
		width: 25%;
	}
}

.eltd-price-table {
	position: relative;
	width: 100%;
	padding: 0;
	padding: 0 15px;
	float: left;

	@include eltdBoxSizing(border-box);

	&:first-child {
		margin-left: 0;
	}
}

.eltd-price-table-outer {
	background-color: #fff;
	border: 1px solid #f3f3f3;
	padding: 3px;
}

.eltd-price-table .eltd-price-table-inner {
	background-color: #f5f5f5;
	text-align: center;
	padding: 64px 20px 83px;

	@include eltdBoxSizing(border-box);

	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	.eltd-title-content,
	.eltd-price {
		margin: 0;
	}

	.eltd-title-content {
		color: #28262b;
		text-transform: uppercase;
		letter-spacing: 0.1em;
	}

	.eltd-icon-pt-holder {
		font-size: 24px;
		position: relative;
		margin-bottom: 20px;
		overflow: hidden;

		.eltd-separator-left {
			width: 85px;
			position: absolute;
			right: 50%;
			margin-right: 20px;
			top: 50%;
			border-top: 1px solid #b7b7b7;
		}

		.eltd-separator-right {
			width: 85px;
			position: absolute;
			left: 50%;
			margin-left: 20px;
			top: 50%;
			border-top: 1px solid #b7b7b7;
		}

	}

	.eltd-table-title {
		margin-bottom: 29px;
	}

	.eltd-price-in-table {
		margin-bottom: 3px;
	}

	.eltd-pt-price-period {
		font-size: 15px;
		font-style: italic;
		margin-top: 5px;
		font-family: $headings-font-family-2;
	}

	.eltd-table-content {
		margin-top: 43px;
		font-size: 15px;
		font-style: italic;
		font-family: $headings-font-family-2;

		li:not(:first-child) {
			margin-top: 36px;
			position: relative;

			&:before {
				content: '';
				max-width: 90px;
				width: 80%;
				height: 1px;
				background-color: #d7d7d7;
				position: absolute;
				top: -18px;
				left: 50%;
				@include eltdTransform(translateX(-50%));
			}
		}
	}

	.eltd-price-button {
		margin-top: 52px;
	}

	.eltd-pt-label-holder {
		position: absolute;
		top: -18px;
		right: 64px;

		.eltd-pt-label-inner {
			background-color: $first-main-color;
			padding: 5px 15px 5px 18px;

			color: #fff;
			font-family: $headings-font-family;
			color: #fff;
			font-size: 12px;
			font-weight: 600;
			text-transform: uppercase;

			border-top-left-radius: 20px;
			border-bottom-left-radius: 20px;

			@include eltdTransform(rotate(-90deg) perspective(1px));
			@include eltdTransformOrigin(right);
			@include eltdBoxSizing(border-box);
		}
	}

	.eltd-pt-label-content {
		@include eltdTransform(rotate(180deg) translateZ(0));
		@include eltdTransformOrigin(center);
	}

	.eltd-price {
		font-size: 70px;
		line-height: 75px;
		letter-spacing: 0;
		color: #28262b;

		sup {
			left: 10px;
			font-size: 55%;
			bottom: 24px;
		}
	}

}

.eltd-price-table.eltd-pt-active {
	.eltd-price-table-inner {
		background-color: $first-main-color;
		border-color: transparent;

		color: #fff;

		.eltd-title-content,
		.eltd-pt-price-period,
		.eltd-table-content,
		.eltd-price {
			color: inherit;
		}

		.eltd-pt-label-inner {
			background-color: #fff;
			color: #545454;
		}
	}
}

/* ==========================================================================
# Pricing table style - end
========================================================================== */