.eltd-process-holder {
	position: relative;
	margin-top: 26px;

	&.eltd-process-horizontal {
		.eltd-process-inner {
			@include eltdClearfix;
			position: relative;
			z-index: 1;
		}

		.eltd-process-bg-holder {
			position: absolute;
			top: 0;
			left: 0;
			width: 0;
			height:100%;
			z-index: 0;
			overflow:hidden;
			@include eltdTransition(width 2s linear);

			&.eltd-process-bg-holder-loaded {
				width:100%;
			}

			img {
				max-width: initial;
			}
		}

		.eltd-process-item-holder {
			text-align: center;
			float: left;
			opacity:0;
			@include eltdTransform(scale(0.8,0.8));
			@include eltdTransition(all 0.5s ease-in-out);

			&:nth-child(1) {
				width: 18.77%;
				margin-right: 10.38%;
				margin-top: 1.54%;

				.eltd-pi-icon {
					top: 20.49%;
					left: 11.06%;
				}
			}

			&:nth-child(2) {
				width: 14.08%;
				margin-right: 10.54%;
				margin-top: 12.69%;

				.eltd-pi-icon {
					top: 10.93%;
					left: 78.69%;
				}
			}

			&:nth-child(3) {
				width: 14.85%;
				margin-right: 10.23%;
				margin-top: 5.38%;

				.eltd-pi-icon {
					top: 54.40%;
					left: 97.41%;
				}
			}

			&:nth-child(4) {
				width: 21.15%;

				.eltd-pi-icon {
					top: 25.45%;
					left: 90.91%;
				}
			}

			.no-touch & {
				opacity: 0;

			}

			&.eltd-process-item-appeared {
				opacity:1;
				@include eltdTransform(scale(1,1));
			}

		}

		&.eltd-process-holder-items-three {

			.eltd-process-item-holder {
				width: 33.33%;
			}
		}

		.eltd-pi-title-holder {
			margin-bottom: 7px;
		}

		.eltd-pi-title {
			margin: 0;
		}

		.eltd-pi-text-holder {
			p {
				margin: 0;
			}
		}

		.eltd-pi-image-wrapper {
			margin-bottom: 20px;
			position: relative;

			&.eltd-pi-icon-only {
				padding-bottom: 100%;
			}
		}

		.eltd-pi-image-holder {
			background-color: #fff;
			border: 1px solid #ebebeb;
			padding: 10px;

			overflow: hidden;

			@include eltdBorderRadius(50%);
			@include eltdBoxSizing(border-box);

			img {
				vertical-align: middle;
				width: 100%;
				@include eltdBorderRadius(50%);
			}
		}

		.eltd-pi-icon-holder {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;

			.eltd-pi-icon {
				position: absolute;
				width: 54px;
				height: 54px;
				font-size: 24px;
				background-color: #fff;
				border: 1px solid #ebebeb;
				color: $first-main-color;
				@include eltdBorderRadius(50%);
				@include eltdTransform(translate(-50%, -50%));

				& > * { // because different icon sets use different tags
					position: absolute;
					top: 50%;
					left: 50%;
					@include eltdTransform(translate(-50%, -50%));
				}
			}

			&.eltd-pi-icon-only {
				background: #fbfbfb;
			    border-radius: 50%;
			    box-sizing: border-box;

			    .eltd-pi-icon {
			    	top: 50%;
			    	left: 50%;
			    	width: 100px;
			    	height: 100px;
			    	border: none;
			    	background-color: transparent;
			    	font-size: 50px;
			    	color: #58595b;
			    }
			}
		}
	}

	&.eltd-process-vertical {
		.eltd-process-item-holder {
			opacity:0;
			overflow: hidden;
			position: relative;
			@include eltdTransition(opacity 0.4s ease-out);

			&:not(:first-child) {
				padding-top: 20px;
			}

			&:before {
				content: '';
				position: absolute;
				top: 86px;
				left: 42px;
				height: 10000px;
				margin-top: -5000px;
				width: 3px;
				margin-left: 1px;
				background: transparent 0 0 repeat-y url('img/process-dot-bgnd.png');
				display: block;
			}

			&:last-child:before {
				margin-top: -9990px;
			}

			&.eltd-process-item-appeared {
				opacity:1;
			}
		}

		.eltd-pi-image-wrapper {
			position: relative;
			width: 86px;
			height: 86px;
			border: 2px solid #f3f3f3;
			float: left;
			text-align: center;
			margin-bottom: 62px;

			@include eltdBoxSizing(border-box);
			@include eltdBorderRadius(50%);

			.eltd-pi-image-holder {

				img {
					vertical-align: middle;
					width: 100%;
					@include eltdBorderRadius(50%);
				}
			}

			.eltd-pi-icon-holder {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;

				.eltd-pi-icon {
					position: absolute;
					right: 0;
					bottom: 0;
					width: 30px;
					height: 30px;
					line-height: 30px;
					font-size: 20px;
					text-align: center;
					background-color: #fff;
					border: 1px solid #ebebeb;
					color: $first-main-color;
					@include eltdBorderRadius(50%);
				}
			}

			&.eltd-pi-icon-only {
				border: none;
				background-color: #fbfbfb;

				.eltd-pi-icon-holder {

					.eltd-pi-icon {
						bottom: 50%;
						right: 50%;
						width: 50px;
						height: 50px;
						line-height: 50px;
						background-color: transparent;
						font-size: 36px;
						color: #58595b;
						border: none;
						@include eltdTransform(translate(50%,50%));
					}
				}
			}
		}

		.eltd-pi-content-holder {
			padding-left: 112px;
			font-weight: 300;

			.eltd-pi-title {
				margin-top: 0px;
				font-family: $headings-font-family;
				font-size: 18px;
				text-transform: uppercase;
				letter-spacing: 0.1em;
				font-weight: 300;
				font-style: normal;
				color: #28262b;
			}
		}
	}
}