/* ==========================================================================
# Tabs style - begin
========================================================================== */
.eltd-tabs {

	.eltd-tabs-nav {
		display: block;
		position: relative;
		list-style: none outside none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		vertical-align: middle;

		li a {
			display: block;
			padding: 18px 30px;
			color: #373737;
			background-color: #ffffff;
			font-weight: 400;
			font-family: $headings-font-family;

			@include eltdBoxSizing(border-box);
			@include eltdTransition(color 0.15s ease-out, background-color 0.15s ease-out, border-color 0.15s ease-out);

			.eltd-tab-title-subtitle, .eltd-tab-title, .eltd-tab-subtitle {
				display: block;
			}
			.eltd-tab-subtitle {
				font-size: 16px;
				color: #999999;
				margin-top: 6px;
			}
		}

		li.ui-state-active a {
			position: relative;
			z-index: 20;
		}

		.eltd-tab-container {
			position: relative;
			background-size:cover;
			background-position:bottom;

			@include eltdBoxSizing(border-box);
		}
	}

}

/* Horizontal tabs styles
   ========================================================================== */
.eltd-tabs.eltd-horizontal {

	.eltd-tabs-nav li {
		display: table-cell;
		vertical-align: middle;
		border-bottom: 1px solid #f2f2f2;
		position: relative;
		background-color: #ffffff;

		&.ui-tabs-active:after {
			content: '';
			position: absolute;
			width: 100%;
			height: 5px;
			left: 0;
			bottom: 0;
			background-color: $first-main-color;
			z-index: 21;
		}

		a {
			padding: 18px 15px;
			border-left: 0;
		}
	}

	.eltd-tab-container {
		padding: 37px 0;
		border-top: 1px solid #f2f2f2;
		top: -1px;
		position: relative;
		z-index: 10;
		background-size:cover;
		background-position:bottom;
	}

}

/* Vertical tabs styles
   ========================================================================== */
.eltd-tabs.eltd-vertical {

	.eltd-tabs-nav {
		float: left;
		width: 32%;

		@include eltdBoxSizing(border-box);

		li:not(.ui-state-active) {

			a:after {
				background: #ebebeb !important;
			}
		}

		li {
			display: block;
			border-bottom: 1px solid #f2f2f2;

			&:last-child {
				border-bottom: 0;
			}

			a {
				border-bottom: 0;
				padding: 27px 32px;

				.eltd-tab-title {
					font-size: 20px;
				}

				&:after {
					content: '';
					position: absolute;
					width: 5px;
					height: 100%;
					left: 0;
					top: 0;
				}
			}
		}

		&:last-child {
			margin: 0;
		}
	}

	.eltd-tab-container {
		float: left;
		padding: 0 45px 10px 45px;
		width: 68%;
		background-size:cover;
		background-position:bottom;

		@include eltdBoxSizing(border-box);
	}

	&.eltd-vertical-nav-width-small {
		.eltd-tabs-nav {
			width: 22.92%;
		}

		.eltd-tab-container {
			width: 77.08%;
			background-size:cover;
			background-position:bottom;
		}
	}

}

/* Tabs with icon and text styles start
   ========================================================================== */

.eltd-tabs.eltd-tab-text-icon .eltd-tabs-nav li a {

	.eltd-tab-text-after-icon {
		padding-left: 10px;
		@include eltdTransition(initial);
	}
	.eltd-icon-frame {
		float: left;
		margin-left:-7px;
	}
	.eltd-tab-title-subtitle {
		padding-left: 20px;
	}
}

/* Tabs with icon styles - start
   ========================================================================== */

.eltd-tabs.eltd-tab-icon .eltd-tabs-nav li a {
	i,
	span {
		@include eltdTransition(initial);
	}

	.eltd-icon-frame {
		display: inline-block;
		min-width: 20px;
	}

}

/* ==========================================================================
# Tabs style - end
========================================================================== */