/* ==========================================================================
# Team style - begin
========================================================================== */

/* Team list rules - begin
========================================================================== */

.eltd-team-list {
	position: relative;
	width: 100%;

	.eltd-team {
		float: left;
	}

	&.eltd-team-list-three-columns {

		.eltd-team {
			width: 33.33%;
		}
	}

	&.eltd-team-list-four-columns {

		.eltd-team {
			width: 25%;
		}
	}

	&.eltd-team-list-six-columns {

		.eltd-team {
			width: 16.66%;
		}
	}

	&.eltd-team-list-space-between {

		.eltd-team-list-inner {
			margin: 0 -15px;
		}

		.eltd-team {
			padding: 0 15px;
			margin-bottom: 30px;
			@include eltdBoxSizing(border-box);
		}
	}
}

/* Team list rules - end
========================================================================== */

/* Team type main info on hover - begin
========================================================================== */

.eltd-team {

	&:not(.main-info-below-image) {
		overflow: hidden;
	}

	.eltd-team-inner {
		overflow: hidden;
		width: 100%;
	}

	.eltd-team-image {
		position: relative;
		overflow: hidden;

		img {
			vertical-align: middle;
		}

	}

	.eltd-team-name,
	.eltd-team-position {
		margin: 0;
		line-height: 30px;
	}

	.eltd-team-name {
		color: #fff;
		text-transform: uppercase;

		&.light {
			color: #28262b;
		}
	}

	.eltd-team-position {
		color: #6d6e71;

		&.light {
			color: #808285;
		}
	}

	.eltd-team-description {
		display: table;
		width: 100%;
		height: 100%;

		&.light {
			color: #fff;
		}
	}

	.eltd-team-text {
		padding: 20px 0 20px;
	}

	.eltd-team-social-wrapp {
		margin: 30px 0 0 0;
		position: relative;

		&:before {
			content: '....................';
			display: block;
			position: absolute;
			width: 100%;
			text-align: center;
			top: -30px;
			font-family: $headings-font-family-2;
			font-style: italic;
			color: #fff;;
			font-size: 15px;
		}

		&.light:before {
			color: $first-main-color;
		}

		.eltd-team-social-icon {
			margin: 0 8px;
			font-size: 11px;
			color: #fff;

			&.light {
				color: #363636;
			}

			a {
				color: inherit;
			}
		}

		.eltd-icon-shortcode.circle, .eltd-icon-shortcode.square {
			width: 1.6em;
			height: 1.6em;
			line-height: 1.6em;
		}
	}

	.eltd-team-social {
		display: table;
		width: 100%;
		height: 100%;

		.eltd_icon_ion_icon:before,
		.eltd_icon_linea_icon:before {
			line-height: inherit;
		}

	}

	.eltd-team-social-inner {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		position: relative;
	}

	.eltd-team-social-holder {
		position: absolute;
		left: 18px;
		top: 18px;
		bottom: 18px;
		right: 18px;
		opacity: 0;
		filter: alpha(opacity=0);
		display: table-cell;
		vertical-align: middle;
		background-color: rgba(40,38,43,0.95);
		@include eltdTransition(opacity 0.45s ease-out, background-color 0.45s ease-out);
		@include eltdTransform(translateZ(0px));

		&.light {
			background-color: rgba(254,254,254,0.95);
		}
	}

	&:hover {

		.eltd-team-social-holder {
			opacity: 1;
			filter: alpha(opacity=100);
		}

	}

}

.touch .eltd-team .eltd-team-social-holder {
	cursor: pointer;
}

/* Team type main info on hover - end
========================================================================== */

/* Team type main info below image - begin
========================================================================== */

.eltd-team.main-info-below-image {
	-webkit-transform: translateZ(0);

	.eltd-team-info {
		text-align: left;
		margin-top: 0;
		padding: 0 0 20px;

		&.eltd-team-align-center {
			text-align: center;
		}

		&.eltd-team-align-right {
			text-align: right;
		}

		.eltd-team-name {
			text-transform: uppercase;
			color: #28262b;
		}

		.eltd-team-name,
		.eltd-team-position {
			line-height: 30px;
			margin: 0;
		}

		.eltd-team-name.light {
			color: #fff;
		}

		h5.eltd-team-position.light {
			color: #fff;
		}

		.eltd-team-description.light p {
			color: #fff;
		}

	}

	.eltd-team-image {
		overflow: visible;
		text-align: center;
		margin-bottom: 30px;
	}

	.eltd-team-text {
		padding: 0;
		margin-top: 20px;
		position: relative;

		&:before {
			content: '....................';
			position: absolute;
			top: -20px;
			color: $first-main-color;
			font-family: $headings-font-family-2;
			font-style: italic;
			font-size: 15px;
		}

		&.eltd-team-align-left:before {
			left: 0;
		}

		&.eltd-team-align-center:before {
			left: 50%;
			@include eltdTransform(translate(-50%,0));
		}

		&.eltd-team-align-right:before {
			right: 0;
		}
	}

	.eltd-team-social-wrapp {
		margin: 5px 0 0 0;
		position: relative;

		&:before {
			content: '....................';
			display: block;
			position: absolute;
			width: 100%;
			text-align: center;
			top: -30px;
			font-family: $headings-font-family-2;
			font-style: italic;
			color: #fff;;
			font-size: 15px;
		}

		&.light:before {
			color: $first-main-color;
		}

		.eltd-team-social-icon {
			margin: 0 7px;
			font-size: 11px;
			color: #363636;

			&:first-child {
				margin-left: 0;
			}

			a {
				color: inherit;
			}

			&:hover {
				color: $first-main-color;
			}
		}

		.eltd-icon-shortcode.circle, .eltd-icon-shortcode.square {
			width: 1.6em;
			height: 1.6em;
			line-height: 1.6em;
		}
	}

	.eltd-team-social {
		display: table;
		width: 100%;
		height: 100%;

		.eltd_icon_ion_icon:before,
		.eltd_icon_linea_icon:before {
			line-height: inherit;
		}

	}

	.eltd-team-social-inner {
		display: table-cell;
		vertical-align: middle;
		text-align: left;
		position: relative;

		&.eltd-team-align-center {
			text-align: center;
		}

		&.eltd-team-align-right {
			text-align: right;
		}
	}

	.eltd-team-social-holder {
		position: absolute;
		left: 18px;
		top: 18px;
		bottom: 18px;
		right: 18px;
		opacity: 0;
		filter: alpha(opacity=0);
		display: table-cell;
		vertical-align: middle;
		background-color: rgba(40,38,43,0.95);
		@include eltdTransition(opacity 0.15s ease-out, background-color 0.15s ease-out);
		@include eltdTransform(translateZ(0px));

		&.light {
			background-color: rgba(254,254,254,0.95);
		}
	}

	&:hover {

		.eltd-team-social-holder {
			opacity: 1;
			filter: alpha(opacity=100);
		}

	}

}

/* Team type main info below image - end
========================================================================== */

/* ==========================================================================
# Team style - end
========================================================================== */