/* ==========================================================================
# Woocommerce Product List Shortcode responsive style - begin
========================================================================== */

@media only screen and (max-width: map-get($breakpoints, laptop-landscape-large)) {

	.eltd-pl-holder.eltd-masonry-layout {

		$masonry_list_columns: ('five', 'six');

		@for $i from 0 to length($masonry_list_columns) {
			&.eltd-#{nth($masonry_list_columns,$i+1)}-columns {
				$column_width: 100%/4;

				.eltd-pli,
				.eltd-pl-sizer {
					width: $column_width;
				}

				.eltd-pli.eltd-woo-image-large-width {
					width: $column_width*2;
				}
			}
		}
	}

	.eltd-pl-holder.eltd-standard-layout {

		$standard_list_columns: ('six');

		@for $i from 0 to length($standard_list_columns) {
			&.eltd-#{nth($standard_list_columns,$i+1)}-columns {
				$column_width: 100%/5;

				.eltd-pli {
					width: $column_width;

					@media only screen and (min-width: map-get($breakpoints, laptop-landscape-plus-pixel)) {
						&:nth-child(6n+1) {
							clear: none;
						}

						&:nth-child(5n+1) {
							clear: both;
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width: map-get($breakpoints, laptop-landscape)) {

	.eltd-pl-holder.eltd-masonry-layout {

		$masonry_list_columns: ('two', 'three', 'four', 'five', 'six');

		@for $i from 0 to length($masonry_list_columns) {
			&.eltd-#{nth($masonry_list_columns,$i+1)}-columns {
				$column_width: 100%/($i+2);

				@if ($i+2) == 5 {
					$column_width: 100%/4;
				} @else if ($i+2) == 6 {
					$column_width: 100%/4;
				}

				.eltd-pli,
				.eltd-pl-sizer {
					width: $column_width;
				}

				.eltd-pli.eltd-woo-image-large-width {
					width: $column_width*2;
				}
			}
		}
	}

	.eltd-pl-holder.eltd-standard-layout {

		$standard_list_columns: ('five', 'six');

		@for $i from 0 to length($standard_list_columns) {
			&.eltd-#{nth($standard_list_columns,$i+1)}-columns {
				$column_width: 100%/4;

				.eltd-pli {
					width: $column_width;
					$standard_list_columns_label: #{nth($standard_list_columns,$i+1)};

					@media only screen and (min-width: map-get($breakpoints, ipad-landscape-plus-pixel)) {
						@if $standard_list_columns_label == "five" {
							&:nth-child(5n+1) {
								clear: none;
							}
						} @else if $standard_list_columns_label == "six" {
							&:nth-child(6n+1) {
								clear: none;
							}
						}

						&:nth-child(4n+1) {
							clear: both;
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width: map-get($breakpoints, ipad-landscape)) {

	.eltd-pl-holder.eltd-masonry-layout {

		$masonry_list_columns: ('two', 'three', 'four', 'five', 'six');

		@for $i from 0 to length($masonry_list_columns) {
			&.eltd-#{nth($masonry_list_columns,$i+1)}-columns {
				$column_width: 50%;

				@if ($i+2) != 2 {
					$column_width: 100%/3;
				}

				.eltd-pli,
				.eltd-pl-sizer {
					width: $column_width;
				}

				.eltd-pli.eltd-woo-image-large-width {
					width: $column_width*2;
				}
			}
		}
	}

	.eltd-pl-holder.eltd-standard-layout {

		$standard_list_columns_clear: ('two', 'three');
		$standard_list_columns: ('four', 'five', 'six');

		@for $i from 0 to length($standard_list_columns) {
			&.eltd-#{nth($standard_list_columns,$i+1)}-columns {
				$column_width: 100%/3;

				.eltd-pli {
					width: $column_width;

					@media only screen and (min-width: map-get($breakpoints, ipad-portrait-plus-pixel)) {
						&:nth-child(3n+1) {
							clear: both;
						}
					}
				}
			}
		}

		@for $i from 0 to length($standard_list_columns_clear) {
			&.eltd-#{nth($standard_list_columns_clear,$i+1)}-columns {
				.eltd-pli {

					@media only screen and (min-width: map-get($breakpoints, ipad-portrait-plus-pixel)) {
						&:nth-child(#{$i+2}n+1) {
							clear: both;
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width: map-get($breakpoints, ipad-portrait)) {

	.eltd-pl-holder.eltd-masonry-layout {

		$masonry_list_columns: ('two', 'three', 'four', 'five', 'six');

		@for $i from 0 to length($masonry_list_columns) {
			&.eltd-#{nth($masonry_list_columns,$i+1)}-columns {
				$column_width: 50%;

				.eltd-pli,
				.eltd-pl-sizer {
					width: $column_width;
				}

				.eltd-pli.eltd-woo-image-large-width {
					width: $column_width*2;
				}
			}
		}
	}

	.eltd-pl-holder.eltd-standard-layout {

		$standard_list_columns: ('two', 'three', 'four', 'five', 'six');

		@for $i from 0 to length($standard_list_columns) {
			&.eltd-#{nth($standard_list_columns,$i+1)}-columns {
				$column_width: 50%;

				.eltd-pli {
					width: $column_width;

					@media only screen and (min-width: map-get($breakpoints, phone-landscape-plus-pixel)) {
						&:nth-child(2n+1) {
							clear: both;
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width: map-get($breakpoints, phone-landscape)) {

	.eltd-pl-holder.eltd-masonry-layout {

		$masonry_list_columns: ('two', 'three', 'four', 'five', 'six');

		@for $i from 0 to length($masonry_list_columns) {
			&.eltd-#{nth($masonry_list_columns,$i+1)}-columns {
				.eltd-pli,
				.eltd-pl-sizer,
				.eltd-pli.eltd-woo-image-large-width {
					width: 100%;
				}
			}
		}
	}

	.eltd-pl-holder.eltd-standard-layout {

		$standard_list_columns: ('two', 'three', 'four', 'five', 'six');

		@for $i from 0 to length($standard_list_columns) {
			&.eltd-#{nth($standard_list_columns,$i+1)}-columns {
				$column_width: 100%;

				.eltd-pli {
					width: $column_width;
				}
			}
		}
	}
}

/* ==========================================================================
# Woocommerce Product List Shortcode responsive style - end
========================================================================== */