/* ==========================================================================
# Woocommerce Product List Main and VC Shortcode responsive style - begin
========================================================================== */

@media only screen and (max-width: map-get($breakpoints, laptop-landscape-large)) {
    
    .woocommerce {

        $product_list_vc_columns: ('columns-6');

        @for $i from 0 to length($product_list_vc_columns) { 
            &.#{nth($product_list_vc_columns,$i+1)} {
                $column_vc_width: 100%/5;

                > .products { 

                    > .product {
                        width: $column_vc_width;

                        @media only screen and (min-width: map-get($breakpoints, laptop-landscape-plus-pixel)) {

                            &:nth-child(5n+1) {
                                clear: both;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: map-get($breakpoints, laptop-landscape)) {

    .woocommerce {

        $product_list_vc_columns: ('columns-5', 'columns-6');

        @for $i from 0 to length($product_list_vc_columns) { 
            &.#{nth($product_list_vc_columns,$i+1)} {
                $column_vc_width: 100%/4;

                > .products { 

                    > .product {
                        width: $column_vc_width;

                        @media only screen and (min-width: map-get($breakpoints, ipad-landscape-plus-pixel)) {

                            &:nth-child(4n+1) {
                                clear: both;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: map-get($breakpoints, ipad-landscape)) {

    .eltd-pl-main-holder,
    .related.products,
    .upsells.products,
    .cross-sells {

        $product_list_columns: ('columns-3', 'columns-4');

        @for $i from 0 to length($product_list_columns) {            

            > .products { 

                > .product {

                    .eltd-woocommerce-#{nth($product_list_columns,$i+1)} & {
                        $column_width: 100%/3;
                        width: $column_width;

                        @media only screen and (min-width: map-get($breakpoints, ipad-portrait-plus-pixel)) {

                            &:nth-child(3n+1) {
                                clear: both;
                            }
                        }
                    }          
                }
            }
        }
    }

    .woocommerce {

        $product_list_vc_columns: ('columns-4', 'columns-5', 'columns-6');

        @for $i from 0 to length($product_list_vc_columns) { 
            &.#{nth($product_list_vc_columns,$i+1)} {
                $column_vc_width: 100%/3;

                > .products { 

                    > .product {
                        width: $column_vc_width;

                        @media only screen and (min-width: map-get($breakpoints, ipad-portrait-plus-pixel)) {

                            &:nth-child(3n+1) {
                                clear: both;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: map-get($breakpoints, ipad-portrait)) {

    .eltd-pl-main-holder,
    .related.products,
    .upsells.products,
    .cross-sells {

        $product_list_columns: ('columns-3', 'columns-4');

        @for $i from 0 to length($product_list_columns) {            

            > .products { 

                > .product {

                    .eltd-woocommerce-#{nth($product_list_columns,$i+1)} & {
                        width: 50%;

                        @media only screen and (min-width: map-get($breakpoints, phone-landscape-plus-pixel)) {

                            &:nth-child(2n+1) {
                                clear: both;
                            }
                        }
                    }          
                }
            }
        }
    }

    .woocommerce {

        $product_list_vc_columns: ('columns-3', 'columns-4', 'columns-5', 'columns-6');

        @for $i from 0 to length($product_list_vc_columns) { 
            &.#{nth($product_list_vc_columns,$i+1)} {

                > .products { 

                    > .product {
                        width: 50%;

                        @media only screen and (min-width: map-get($breakpoints, phone-landscape-plus-pixel)) {

                            &:nth-child(2n+1) {
                                clear: both;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: map-get($breakpoints, phone-landscape)) {

    .eltd-pl-main-holder,
    .related.products,
    .upsells.products,
    .cross-sells {

        $product_list_columns: ('columns-3', 'columns-4');

        @for $i from 0 to length($product_list_columns) {            

            > .products { 

                > .product {

                    .eltd-woocommerce-#{nth($product_list_columns,$i+1)} & {
                        width: 100%;
                    }          
                }
            }
        }
    }

    .woocommerce {

        $product_list_vc_columns: ('columns-2', 'columns-3', 'columns-4', 'columns-5', 'columns-6');

        @for $i from 0 to length($product_list_vc_columns) { 
            &.#{nth($product_list_vc_columns,$i+1)} {

                > .products { 

                    > .product {
                        width: 100%;
                    }
                }
            }
        }
    }
}

/* ==========================================================================
# Woocommerce Product List Main and VC Shortcode responsive style - end
========================================================================== */