@import "types/float";

.eltd-header-vertical {
	.eltd-vertical-menu {
		position: absolute;
		top: 50%;
		left: 50%;
		padding-bottom: 55px;
		z-index: 101;
		text-align: center;
		@include eltdTransform(translate(-50%,-50%));

		ul {
			position: relative;
			list-style-type: none;

			li {
				position: relative;

				a {
					color: inherit;

					&:hover {
						color: $first-main-color;
					}
				}

				.eltd_menu_arrow {
					display: none;
				}
			}
		}

		& > ul > li {
			position: relative;
			padding: 19px 0;

			&:not(:last-child):after {
				content: '....................';
				color: #ebebeb;
				font-size: 15px;
				font-family: $headings-font-family-2;
				font-style: italic;
				font-weight: 300;
				position: absolute;
				bottom: -10px;
				left: 50%;
				@include eltdTransform(translateX(-50%));
			}

			&.menu-item-has-children {

				> a .plus {
					width: 14px;
					height: 14px;
					color: #9d9d9d;
					font-size: 14px;
					line-height: 14px;
					font-family: 'ElegantIcons';
					cursor: pointer;

					@include eltdTransform(translateY(-50%));

					&:before {
						content: "\4c";
					}
				}

				&.open {

					> a .plus:before {
						content: "\4b";
					}
				}
			}

			> a {
				position: relative;
				display: block;
				padding: 9px 0px;
				line-height: 18px;
				color: #1b1b1b;
				font-weight: 300;
				font-size: 15px;
				letter-spacing: 0.2em;
				text-decoration: none;
				text-transform: uppercase;
				margin: 0;
				cursor: pointer;

				@include eltdTransition(
						color 0.15s ease-out,
						text-decoration 0.15s ease-out,
						background-color 0.15s ease-out
				);

				&:before {
					display: none;
				}

				&:after {
					display: none;
				}

				> span.item_inner {
					@include eltdTransition(text-decoration 0.2s ease-out);
				}
			}
		}

		.second {
			display: none;

			li ul {
				display: none !important;
			}

			.inner {
				position: relative;
				display: block;
				padding: 7px 0 0;
				z-index: 997;

				ul {
					background-color: transparent;
					padding: 0;

					li {
						padding: 0;

						a {
							position: relative;
							display: block;
							padding: 8px 0;
							line-height: 18px;
							font-weight: 300;
							font-size: 14px;
							text-decoration: none;
							margin: 0;
							cursor: pointer;

							@include eltdTransition(
									color 0.15s ease-out,
									text-decoration 0.15s ease-out,
									background-color 0.15s ease-out
							);

							&:hover {
								color: $first-main-color;
							}
						}
					}
				}
			}
		}

		.menu_icon:not(.blank):not(.null) {
			padding-right: 5px;
		}
	}
}

.eltd-header-vertical.eltd-light-header {

	.eltd-vertical-menu {

		& > ul > li {

			&:not(:last-child):after {
				opacity: 0.2;
			}

			&.menu-item-has-children {

				> a .plus {
					color: #fff;
				}
			}

			> a {
				color: #fff;
			}
		}

		.second {

			.inner {

				ul {
					background-color: transparent !important;
				}
			}
		}
	}
}