@import 'types/masonry_full_width';
@import 'types/masonry';
@import 'types/standard';
@import 'types/date_on_side';
@import 'types/split_column';

.page-template-blog-standard,
.page-template-blog-standard-date-on-side,
.page-template-blog-masonry,
.page-template-blog-masonry-full-width,
.page-template-blog-whole-post,
.page-template-blog-split-column {

	.eltd-content {
		.eltd-content-inner > .eltd-container > .eltd-container-inner,
		.eltd-content-inner > .eltd-full-width > .eltd-full-width-inner {
			padding: 90px 0;
		}
	}
}

.eltd-grid-row {

	.eltd-grid-col-9,
	.eltd-grid-col-8 {

		.eltd-blog-holder {
			padding-right: 60px;
		}

		&.eltd-grid-col-push-4,
		&.eltd-grid-col-push-3 {

			.eltd-blog-holder {
				padding-left: 60px;
				padding-right: 0;
			}
		}
	}
}

.eltd-blog-holder {
	font-weight: 300;

	article {
		padding-bottom: 0;

		p {
			font-size: 14px;
		}

		& + article {
			margin-top: 78px;
		}

		&.format-quote + article,
		&.format-link + article {
			margin-top: 86px;
		}

		.eltd-post-image-wrapper {
		    position: relative;

			.eltd-post-info-date {
			    position: relative;
			    display: inline-block;
			    background-color: #363636;
				color: #9d9fa2;
			    padding: 10px 20px;

			    .eltd-post-date-wrapper {
				    display: inline-block;
				    text-align: center;
				}

				.eltd-post-date-day,
				.eltd-post-date-month,
				.eltd-post-date-year {
					display: block;
				}

				.eltd-post-date-day {
					font-size: 34px;
					line-height: 1em;
					font-weight: 300;
					color: #fff;
					margin-top: 0;
				}

				.eltd-post-date-month {
					font-family: $headings-font-family-2;
					font-style: italic;
					font-size: 13px;
					margin-top: 8px;
				}

				.eltd-post-date-year {
					font-weight: 400;
					margin-top: 5px;
					display: none;
				}
			}

			&.eltd-post-with-image {

				.eltd-post-image {

					img {
						vertical-align: middle;
					}
				}

				.eltd-post-info-date {
				    position: absolute;
				    top: 25px;
				    left: -22px;
				}				
			}

			.eltd-blog-gallery-grid {
				margin: 0 -4px;

				> div {
					float: left;
					width: 50%;
					box-sizing: border-box;
					padding: 0 4px;
					margin-bottom: 8px;
				}
			}
		}

		.eltd-post-text {
			margin-top: 26px;
		}

		.eltd-post-text-inner {

			> h1:not(.eltd-post-title),
			> h2:not(.eltd-post-title),
			> h3:not(.eltd-post-title),
			> h4:not(.eltd-post-title),
			> h5:not(.eltd-post-title),
			> h6:not(.eltd-post-title) {
				margin: 15px 0;
			}
		}

		&.sticky {
			.eltd-post-title a {
				color: $first-main-color;
			}
		}

		.eltd-post-title {
			text-transform: uppercase;
			margin-bottom: 0;
		}

		.eltd-post-info {
			display: inline-block;
            width: 100%;
            margin-top: 4px;
			margin-bottom: 40px;
			position: relative;
			font-family: $headings-font-family-2;
			font-style: italic;
			font-size: 13px;

			&:after {
				content: '....................';
				position: absolute;
				bottom: -35px;
				left: 0;
				font-weight: 300;
				color: $first-main-color;
				font-style: italic;
			}

			.eltd-blog-like i {
				margin-right: 3px;
			}

			span.icon_tags {
				margin-right: 10px;
				font-size: 14px;
			}

			> div {
				display: inline-block;
				position: relative;

				&:not(.eltd-post-info-category):after {
					content: '/';
					margin-left: 4px;
					margin-right: 7px;
				}
			}

			a {
				color: inherit;

				&:hover {
					color: #383838;
				}
			}
		}

		.eltd-post-excerpt {
			margin-top: 50px;
			margin-bottom: 0;
		}

		&.format-quote {

			.eltd-post-date-day,
			.eltd-post-date-month {
				&:after {
					content: ' ';
				}
			}

			.eltd-post-quote-holder {
				background-color: #f9f9f9;
				padding: 40px 90px 45px;
				text-align: center;
			}

			.eltd-post-mark {
				display: block;
				width: 40px;
				margin: 0 auto 17px;
				font-size: 24px;
				line-height: 24px;
				color: $first-main-color;
				position: relative;

				&:after,
				&:before {
					content: '';
					width: 90px;
					height: 1px;
					background-color: #d7d7d7;
					position: absolute;
					top: 50%;
				}

				&:after {
					left: 100%;
				}

				&:before {
					right: 100%;
				}
			}

			.eltd-post-quote-text,
			.eltd-post-quote-text h3 {
				font-family: $headings-font-family-2;
				font-style: italic;
				font-size: 15px;
				color: #808285;
				text-transform: none;
				letter-spacing: normal;
				line-height: 24px;
			}

			.eltd-post-quote-author-text {
				margin: 25px 0 0;

				.eltd-post-quote-author-name {
					font-style: normal;
					font-family: $headings-font-family;
					letter-spacing: 0.1em;
					text-transform: uppercase;
					color: #28262b;
				}

				.eltd-post-quote-position {

					&:before {
						content: "/ ";
						font-style: normal;
						font-family: $headings-font-family;
						letter-spacing: 0.1em;
						text-transform: uppercase;
						color: #28262b;
					}
				}
			}

			.eltd-post-content .eltd-post-text {
				position: relative;
			}
		}

		&.format-link {

			.eltd-post-date-day,
			.eltd-post-date-month {
				&:after {
					content: ' ';
				}
			}

			.eltd-post-link-holder {
				background-color: #f9f9f9;
				padding: 40px 90px 45px;
				text-align: center;
			}

			.eltd-post-mark {
				display: block;
				width: 40px;
				margin: 0 auto;
				font-size: 24px;
				line-height: 24px;
				color: $first-main-color;
				position: relative;

				&:after,
				&:before {
					content: '';
					width: 90px;
					height: 1px;
					background-color: #d7d7d7;
					position: absolute;
					top: 50%;
				}

				&:after {
					left: 100%;
				}

				&:before {
					right: 100%;
				}
			}

			.eltd-post-link-text {
				font-style: normal;
				font-family: $headings-font-family;
				letter-spacing: 0.1em;
				text-transform: uppercase;
				color: #28262b;
				margin-top: 20px;
			}

			.eltd-post-link-link {

				h6 {
					margin: 7px 0 0;
				}
			}

			.eltd-post-content .eltd-post-text {
				position: relative;
			}
		}

	}
}

.eltd-blog-infinite-scroll-button {
	display: none;
}

.eltd-filter-blog-holder {

	text-align: center;
	margin-bottom: 30px;

	li {
		display: inline-block;
		padding: 0 8px;
		cursor: pointer;
		font-size: 15px;

		&.eltd-active {
			color: $first-main-color;
		}
	}
}

.eltd-single-links-pages {
	margin-top: 20px;

	.eltd-single-links-pages-inner {
		> a,
		> span {
			display: inline-block;
			height: 30px;
			width: 30px;
			line-height: 30px;
			text-align: center;
		}
	}
}