/* ==========================================================================
   WooCommerce Single Product Page styles - begin
   ========================================================================== */

   /* ==========================================================================
   WooCommerce Single Product Page styles - begin
   ========================================================================== */

.eltd-woocommerce-single-page {

	.eltd-single-product-content {

			.images {

				@media only screen and (min-width: 768px) {

					figure {
						width: 100%;
						margin: 0;
					}

					.woocommerce-product-gallery__image {

						&:first-child {
							left: 120px;
							width: calc(100% - 120px);
						}
					}

					&.woocommerce-product-gallery--with-images {

						.woocommerce-product-gallery__image {

							&:not(:first-child) {
								a {
									height: 100%;

									img {
										height: 100%;
									}
								}
							}

							$thumbnail_numbers: (2, 3, 4, 5, 6, 7, 8, 9);
							@for $i from 0 to length($thumbnail_numbers) {
								$thumbnail_number_value: nth($thumbnail_numbers, $i+1);

								&:nth-child(#{$thumbnail_number_value}#{n}) {
									$topPos: (100 * $i + 20 * $i)#{px};

									//top: $topPos;
								}
							}
						}
					}
				}
			}
		}
}

.product {
		@include eltdRelativeHolderLayout();
		float: none;
		margin: 0 0 50px;
	}

	.eltd-single-product-content {
		@include eltdRelativeHolderLayout();
		clear: both;
		margin: 0 0 20px;

		.images {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			width: 50%;
			margin: 0;
			padding: 0 29px 0 0;
			float: left;
			box-sizing: border-box;

			figure {
				position: relative;
				display: inline-block;
				vertical-align: top;
				margin: 0 -10px;

				a {
					@include eltdRelativeHolderLayout();

					img {
						position: relative;
						width: 100%;
						display: block;
					}
				}
			}

			.woocommerce-product-gallery__trigger {
				position: absolute;
				top: 10px;
				right: 39px;
				width: 30px;
				height: 30px;
				line-height: 30px;
				text-align: center;
				z-index: 10;
			}

			.woocommerce-product-gallery__image {
				position: relative;
				display: inline-block;
				vertical-align: top;
				margin: 0;
				padding: 0 10px;
				box-sizing: border-box;

				&:first-child {
					left: 10px;
					width: calc(100% - 20px);
					padding: 0;
				}

				.zoomImg {
					cursor: crosshair;
				}
			}

			&.woocommerce-product-gallery--with-images {

				.woocommerce-product-gallery__image {

					&:not(:first-child) {
						float: left;
						padding-top: 20px;
						width:17%;
					}
				}
			}

			$thumb_3_columns_label: ('columns-2', 'columns-3', 'columns-4');
			@for $i from 0 to length($thumb_3_columns_label) {
				&.woocommerce-product-gallery--#{nth($thumb_3_columns_label, $i+1)} {
					$column_width: 100%/($i+2);

					.woocommerce-product-gallery__image {

						&:not(:first-child) {
							width: $column_width;
						}
					}
				}
			}
		}
	}

   /* ==========================================================================
   WooCommerce Single Product Page styles - begin
   ========================================================================== */


.eltd-woo-single-page {

	.product {
		@include eltdRelativeHolderLayout();
		float: none;
		max-width: 100%;
		margin: 0 0 20px;

		.eltd-single-product-content {
			@include eltdRelativeHolderLayout();
			padding: 0 0 50px;
			margin: 0 0 55px;
			clear: both;
		}

		.images {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			width: 55%;
			margin: 0;
			padding: 0 23px 0 0;
			margin-right: 45px;
			float: left;
			@include eltdBoxSizing(border-box);

			a {
				@include eltdRelativeHolderLayout();

				img {
					display: block;
				}
			}

			.thumbnails {
				margin: 0 -8px;

				a {
					margin: 16px 0 0;
					padding: 0 8px;
					opacity: 1;
					@include eltdTransition(opacity .2s ease-out);
					@include eltdBoxSizing(border-box);

					&:hover {
						opacity: 0.7;
					}
				}

				&.columns-2 {

					a {
						float: left;
						width: 50%;
					}
				}

				&.columns-3 {

					a {
						float: left;
						width: 33.33333333333333%;
					}
				}

				&.columns-4 {

					a {
						float: left;
						width: 25%;
					}
				}

				&.columns-5 {

					a {
						float: left;
						width: 20%;
					}
				}

				&.columns-6 {

					a {
						float: left;
						width: 16.667%;
					}
				}
			}
		}

		.eltd-single-product-summary {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			width: 41.5%;
			padding: 0;
			float: left;
			@include eltdBoxSizing(border-box);

			.summary.entry-summary .woocommerce-review-link {
				display: none;
			}

			.eltd-accordion-holder .eltd-accordion-content {
				padding: 21px 5px 10px 5px;

				table.shop_attributes {
					margin-top: 20px;
				}
			}
		}
	}

	.woocommerce-tabs {
		@include eltdRelativeHolderLayout();
		margin: 54px 0 0;

		h2 {
			font-size: 14px;
			font-weight: 600;
			margin: 16px 0 13px;
		}

		ul.tabs {
			@include eltdRelativeHolderLayout();
			list-style: none;
			margin: 0;
			padding: 0;
			clear: both;

			> li {
				position: relative;
				display: inline-block;
				vertical-align: middle;
				float: left;

				a {
					position: relative;
					display: inline-block;
					vertical-align: top;
					padding: 0 9px 11px;
					font-weight: 400;
					color: $default-text-color;

					&:after {
						content: '';
						position: absolute;
						bottom: -1px;
						left: 0;
						display: block;
						height: 1px;
						width: 100%;
						background-color: $default-border-color;
						@include eltdTransition(background-color 0.2s ease-in-out);
					}
				}

				&:hover,
				&.active {

					a {
						color: $headings-text-color;

						&:after {
							height: 3px;
							bottom: -2px;
							background-color: $headings-text-color;
						}
					}
				}
			}
		}

		.entry-content {
			padding: 18px 0;
		}

		table {
			margin: 0 0 20px;

			tr, th {
				border: 0;
			}

			td, th {
				padding: 3px 0;
				vertical-align: middle;
				text-align: left;
			}

			th {
				color: $headings-text-color;
				font-weight: 400;
				width: 1%;
				padding: 0 10px 0 0;
			}

			td {
				width: 99%;
			}
		}

		#reviews {

			ol.commentlist {
				list-style: none;

				li {
					padding-top: 10px;

					&:first-child {
						padding: 0;
					}
				}

				.comment_container {
					@include eltdRelativeHolderLayout();

					img {
						float: left;
						width: 60px;
					}

					.comment-text {
						padding: 0 0 0 80px;

						.star-rating {
							margin: 0;
						}

						p {
							display: block;
							margin: 5px 0 0;
						}
					}
				}
			}

			.comment-respond {
				margin-top: 15px;

				.comment-reply-title {
					margin: 0 0 10px;
					font-size: 15px;
					font-weight: 600;
				}

				.stars {
					overflow: hidden;
					padding: 0;
					margin: 0;
				}

				.stars a {

					&:before {
						position: relative;
						display: inline-block;
						vertical-align: middle;
						font-family: "ElegantIcons";
						content: "\e031";
						font-size: 12px;
						line-height: 1;
						letter-spacing: 3px;
						color: $headings-text-color;
						overflow: hidden;
						z-index: -1;
						-webkit-font-smoothing: antialiased;
						-moz-osx-font-smoothing: grayscale;
					}

					&.active:before {
						position: absolute;
						right: 0px;
						bottom: 6px;
						display: block;
						font-family: "ElegantIcons";
						font-size: 12px;
						line-height: 1;
						letter-spacing: 3px;
						color: $headings-text-color;
						content: "\e033\e033\e033\e033\e033";
						-webkit-font-smoothing: antialiased;
						-moz-osx-font-smoothing: grayscale;
					}
				}

				.comment-form-comment label {
					display: block;
					margin: 0 0 10px;
				}
			}
		}
	}

	.related.products,
	.upsells.products {

		> h2 {
			display: block;
			margin: 0 0 50px;
			text-align: left;
			font-size: 18px;
			font-weight: 300;
			letter-spacing: 0.1em;
			text-transform: uppercase;

			&:before {
				content: '....................';
				position: absolute;
				top: 35px;
				left: 0;
				color: $first-main-color;
				font-weight: 300;
				font-style: italic;
				font-family: $headings-font-family-2;
				font-size: 15px;
				letter-spacing: 0;
			}
		}
	}

	.related.products {
		margin: 12px 0 10px;
	}

	.upsells.products {
		margin: 12px 0 40px;
		border-bottom: 1px solid $default-border-color;
	}
}

.eltd-woocommerce-page ul.products,
.woocommerce ul.products {
	margin: 0 -13px;
}

.eltd-single-product-summary {

	.eltd-single-product-title {
		display: block;
		margin: 0;
		line-height: 0.8em;
		color: #444;
		text-transform: uppercase;
	}

	.woocommerce-product-rating {
		@include eltdRelativeHolderLayout();
		line-height: 1;
		margin: 21px 0 0;

		&:after {
			content: '....................';
			position: absolute;
			top: 35px;
			left: 0;
			color: $first-main-color;
			font-weight: 300;
			font-style: italic;
			font-family: $headings-font-family-2;
			font-size: 15px;
		}

		.woocommerce-review-link {
			display: inline-block;
			vertical-align: middle;
		}
	}

	.price {
		position: relative;
		display: block;
		font-size: 70px;
		line-height: 1;
		font-weight: 300;
		margin: 25px 0 7px;
		color: #535353;

		.woocommerce-Price-currencySymbol {
			vertical-align: super;
			font-size: 40px;
		}

		* {
			font-size: inherit;
			line-height: inherit;
		}

		del {
			color: #999;
			margin: 0 20px 0 0;
		}

		ins {
			text-decoration: none;
		}
	}

	div[itemprop="description"] p {
		@include eltdRelativeHolderLayout();
		margin: 17px 0 0;
		padding-top: 32px;
		font-weight: 300;
		color: #858585;
		width: 77%;
	}

	.product_meta {
		margin: 48px 0 26px;

		> span {
			display: block;
			color: #414042;
			line-height: 28px;
			font-weight: 300;
			text-transform: uppercase;
			letter-spacing: 1.8px;
			font-size: 15px;

			* {
				font-weight: 400;
				text-transform: none;
			}

			.sku {
				color: $default-text-color;
				font-size: 15px;
				font-family: $headings-font-family-2;
				font-style: italic;
				letter-spacing: 0;
			}

			a {
				color: $default-text-color;
				font-size: 15px;
				font-family: $headings-font-family-2;
				font-style: italic;
				letter-spacing: 0;

				&:hover {
					color: $headings-text-color;
				}
			}
		}
	}

	.eltd-woo-social-share-holder {
		@include eltdRelativeHolderLayout();
		margin: 2px 0 0;

		> * {
			display: table-cell;
			vertical-align: top;
		}

		> span {
			color: $headings-text-color;
			font-weight: 400;
		}
	}

	p.stock.out-of-stock,
	p.stock.in-stock {
		color: $headings-text-color;
		font-weight: 600;
		margin: 18px 0 0;
	}

	form.cart {
		@include eltdRelativeHolderLayout();
		margin: 50px 0 0;

		.eltd-quantity-buttons {
			margin: 0 13px 0 0;
		}
	}
}

/*************** Masonry Layout - begin ***************/

.eltd-masonry-layout {

	.eltd-pl-outer {
		opacity: 0;
	}

	.eltd-pl-sizer {
		width: 100%;
	}

	.eltd-pl-gutter {
		width: 0%;
	}

	.eltd-pli-inner {
		width: 100%;
	}

	$masonry_list_columns: ('two', 'three', 'four', 'five', 'six');

	@for $i from 0 to length($masonry_list_columns) {
		&.eltd-#{nth($masonry_list_columns,$i+1)}-columns {
			$column_width: 100%/($i+2);

			.eltd-pli,
			.eltd-pl-sizer {
				width: $column_width;
			}

			.eltd-pli.eltd-woo-image-large-width {
				width: $column_width*2;
			}
		}
	}
}

.single-product {
	.comment-form-rating {
		.stars {
			height: 16px;

			span {
				width: 80px;
				height: 16px;
				position: relative;
				float: left;
				background: url(img/star.png) repeat-x left 0;
			}

			a {
				float: left;
				position: absolute;
				left: 0;
				top: 0;
				width: 16px;
				height: 0;
				padding-top: 16px;
				overflow: hidden;

				&:hover {
					background: url(img/star.png) repeat-x left -16px;
				}
			}

			.active {
				background: url(img/star.png) repeat-x left -32px;
			}

			.star-1 {
				width: 16px;
				z-index: 10;
			}

			.star-2 {
				width: 32px;
				z-index: 9;
			}

			.star-3 {
				width: 48px;
				z-index: 8;
			}

			.star-4 {
				width: 64px;
				z-index: 7;
			}

			.star-5 {
				width: 80px;
				z-index: 6;
			}
		}
	}
}

/* ==========================================================================
   WooCommerce Single Product Page styles - end
   ========================================================================== */
