/**handles:vc_lte_ie9**/
/*!
 * WPBakery Page Builder v6.0.0 (https://wpbakery.com)
 * Copyright 2011-2019 Michael M, WPBakery
 * License: Commercial. More details: http://go.wpbakery.com/licensing
 */

body .vc_row.vc_row-o-content-middle{display:block}body .vc_ui-dropdown .vc_ui-list-bar-item{display:block}body .vc_ui-prompt-content{display:block}body .vc_ui-panel .vc_ui-panel-content-container{max-height:50vh!important}body .vc_ui-panel.vc_active{display:block}body .vc_ui-panel .vc_panel-tabs>.vc_edit-form-tab.vc_active{display:block}body [data-vc-template-search=true] .vc_edit-form-tab{display:block!important}body [data-vc-template-search=true] .vc_edit-form-tab.vc-search-result-empty{display:none!important}body .vc_edit_form_elements .vc_row{display:block}body .vc_ui-panel-header .vc_ui-panel-header-header{display:block}body .vc_ui-panel-window-inner{display:block}body .vc_tta-tabs.vc_tta-tabs-position-left{display:block}body .vc_tta-tabs.vc_tta-tabs-position-left .vc_tta-tabs-container{display:block}.vc_non_responsive body .vc_tta-tabs.vc_tta-tabs-position-left .vc_tta-tabs-container,.vc_tta-o-non-responsive body .vc_tta-tabs.vc_tta-tabs-position-left .vc_tta-tabs-container{display:block}body .vc_tta-tabs.vc_tta-tabs-position-left .vc_tta-panels-container{display:block}body .vc_tta-tabs.vc_tta-tabs-position-right{display:block}body .vc_tta-tabs.vc_tta-tabs-position-right .vc_tta-tabs-container{display:block}.vc_non_responsive body .vc_tta-tabs.vc_tta-tabs-position-right .vc_tta-tabs-container,.vc_tta-o-non-responsive body .vc_tta-tabs.vc_tta-tabs-position-right .vc_tta-tabs-container{display:block}body .vc_tta-tabs.vc_tta-tabs-position-right .vc_tta-panels-container{display:block}.vc_separator{display:table}.vc_separator h4{display:table-cell;white-space:pre;vertical-align:middle}.vc_separator .vc_sep_holder{display:table-cell;vertical-align:middle;width:50%}.vc_separator.vc_separator_align_left .vc_sep_holder{width:100%}.vc_separator.vc_separator_align_right .vc_sep_holder{width:100%}