/* ==========================================================================
# Footer style - begin
========================================================================== */

footer {
	display: block;
	width: 100%;
	margin: 0 auto;
	z-index: 100;
	position: relative;
	color: #939598;
	font-weight: 300;
	@include eltdBoxSizing(border-box);

	.eltd-footer-inner {
		position: relative; /* for triangle back to top and ajax transitions */
	}

	.eltd-container {
		background-color: inherit;
	}

	.eltd-container-inner {
		position: relative;
	}

	.eltd-container-inner > .widget {
		text-align: center;
	}

	a {
		text-decoration: none;
	}

	.eltd-footer-ingrid-border-holder-outer {
		background-color: #393939;
	}

	.eltd-footer-top-border-holder,
	.eltd-footer-bottom-border-holder {
		position: relative;
		display: block;
		width: 100%;
	}

	.eltd-footer-top-border-holder.eltd-in-grid,
	.eltd-footer-bottom-border-holder.eltd-in-grid {
		width: 1100px;
		margin: 0 auto;
	}

	.eltd-footer-top-holder {
		display: block;
		background-color: #363636;
		position: relative;
		background-position: center center;
		background-size: cover;
	}

	body.eltd-footer-with-bg-image & {
		background-size: cover;
		background-repeat: no-repeat;

		.eltd-footer-top-holder,
		.eltd-footer-bottom-holder {
			background-color: transparent;
		}
	}

	.eltd-icon-list-item .eltd-icon-list-text {
		font-size: 12px;
		font-weight: 600;
	}

	.eltd-footer-top:not(.eltd-footer-top-full) .eltd-container-inner {
		padding: 115px 0 100px;
	}

	.eltd-footer-top.eltd-footer-top-full {
		padding: 80px 25px 70px;
	}

	.eltd-footer-top.eltd-footer-top-aligment-center {
		text-align: center;
	}
	.eltd-footer-top.eltd-footer-top-aligment-left {
		text-align: left;
	}
	.eltd-footer-top.eltd-footer-top-aligment-right {
		text-align: right;
	}

	.eltd-footer-bottom-holder {
		display: table;
		width: 100%;
		background-color: #3f3f3f;
		color: #fff;
		font-weight: 300;
		vertical-align: middle;
		text-align: center;
		padding: 27px 0;

		.eltd-footer-bottom-left {
			text-align: left;
		}

		.eltd-footer-bottom-right {
			text-align: right;
		}

		.eltd-column-inner {
			text-align: center;
			vertical-align: middle;
		}

		.eltd-container-inner {

			.textwidget {
				font-size: 15px;
			}
		}

		.eltd-three-columns .eltd-column:first-child .eltd-column-inner {
			text-align: left;
		}

		.eltd-three-columns .eltd-column:last-child .eltd-column-inner {
			text-align: right;
		}

		.eltd-two-columns-50-50 .eltd-column:first-child .eltd-column-inner {
			text-align: left;
		}

		.eltd-two-columns-50-50 .eltd-column:last-child .eltd-column-inner {
			text-align: right;
		}

		.eltd-footer-bottom-border-bottom-holder {
			clear: both;
		}

	}

	.wpcf7-form-control.wpcf7-text {
		padding: 17px 15px !important;
		border: 1px solid #555;
	}

	.wpcf7-form-control.wpcf7-textarea {
		border: 1px solid #555;
	}

	input.wpcf7-form-control.wpcf7-submit {
		background-color: #565656;
		border: 2px solid #565656;
		padding: 8px 45px;

		@include eltdTransition(color 0.2s ease-out, background-color 0.2s ease-out, border 0.2s ease-out);
	}

	&.eltd-page-footer.eltd-dark-footer {
		.eltd-footer-top-holder {
			background-color: #363636;
			background-image: none !important;
		}

		.eltd-footer-bottom-holder {
			background-color: #3f3f3f;
		}
	}

	&.eltd-page-footer.eltd-light-footer {
		color: #939598;

		.textwidget h5 {
			color: #222;
		}

		.widget .eltd-footer-widget-title,
		.widget.widget_eltd_twitter_widget .eltd-tweet-icon {
			color: #222;
		}

		.widget ul li,
		.widget ul li a {
			color: #939598;
		}

		.eltd-container-inner .textwidget span {
			color: #777 !important;
		}

		.eltd-footer-top-holder {
			background-color: #fff;
			background-image: none !important;
		}

		.eltd-footer-bottom-holder {
			background-color: #f9f9f9;
			color: #363636;
		}
	}

	.wpcf7-form-control.wpcf7-text:focus,
	.wpcf7-form-control.wpcf7-number:focus,
	.wpcf7-form-control.wpcf7-date:focus,
	.wpcf7-form-control.wpcf7-textarea:focus,
	.wpcf7-form-control.wpcf7-select:focus,
	.wpcf7-form-control.wpcf7-quiz:focus {
		border: 1px solid #fff;
	}

	.wpcf7-form input.wpcf7-form-control.wpcf7-submit:hover {
		border: 2px solid #fff !important;
		background-color: #fff !important;
		color: #363636 !important;
	}
}

/* Footer uncover - begin
========================================================================== */

footer.eltd-footer-uncover {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 99;
	@include eltdTransition(left 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1));

	.cf7_custom_style_2 input.wpcf7-form-control.wpcf7-text,
	.cf7_custom_style_2 input.wpcf7-form-control.wpcf7-number,
	.cf7_custom_style_2 input.wpcf7-form-control.wpcf7-date,
	.cf7_custom_style_2 textarea.wpcf7-form-control.wpcf7-textarea,
	.cf7_custom_style_2 select.wpcf7-form-control.wpcf7-select,
	.cf7_custom_style_2 input.wpcf7-form-control.wpcf7-quiz {
		transform: none;
	}

}

.eltd-right-side-menu-opened footer.eltd-footer-uncover {
	left: -270px;
}

/* Footer uncover - end
========================================================================== */

/* Footer boxed - begin
========================================================================== */

.boxed footer {
	width: 100% !important;
	box-sizing: border-box;
	-moz-box-sizing: border-box; /* Firefox */
}

/* Footer boxed - end
========================================================================== */

/* Footer disabled - begin
========================================================================== */

footer.eltd-disable-footer {
	display: none;
}

/* Footer disabled - end
========================================================================== */

/* ==========================================================================
# Footer style - end
========================================================================== */

/* ==========================================================================
# Footer widgets - begin
========================================================================== */

footer .eltd-footer-top-holder .widget {

	margin-bottom: 20px;

	&.widget_search input[type=text]::-webkit-input-placeholder {
		color: #808285;
		font-size: 13px;
		font-weight: 400;
		font-style: italic;
	}

	&.widget_search input[type=text]:-moz-placeholder {
		color: #808285;
		font-size: 13px;
		font-weight: 400;
		font-style: italic;
	}

	&.widget_search input[type=text]::-moz-placeholder {
		color: #808285;
		font-size: 13px;
		font-weight: 400;
		font-style: italic;
	}

	&.widget_search input[type=text]:-ms-input-placeholder {
		color: #808285;
		font-size: 13px;
		font-weight: 400;
		font-style: italic;
	}

	&.widget_search input[type=text]:-ms-input-placeholder {
		color: #808285;
		font-size: 13px;
		font-weight: 400;
		font-style: italic;
	}

	&.widget_archive ul li a,
	&.widget_pages ul li a,
	&.widget_meta ul li a,
	&.widget_nav_menu ul li a {
		padding-bottom: 7px;
		padding-top: 7px;
	}

	&.eltd-latest-posts-widget {

		.eltd-blog-list h6.eltd-item-title a {
			font-size: 15px;
			line-height: 23px;
		}
	}

	ul li a {
		font-size: 14px;
		display: inline-block;
		font-weight: 300;
		color: #939598;
		font-family: $default-font-family;

		&:hover {
			color: #fff;
		}
	}

	.eltd-footer-widget-title {
		color: #fbfbfc;
		margin-bottom: 4px;
		text-transform: uppercase;
		font-style: normal;
		line-height: 36px;
		letter-spacing: 0.1em;
		font-family: $default-font-family;
	}

	ul {
		list-style: none;

		li {
			font-size: 14px;
			font-weight: 300;
			color: #939598;
		}
	}

	select,
	input[type="text"],
	input[type="email"] {
		width: 100%;
		overflow: hidden;
		background-color: transparent;
		padding: 0 21px;
		height: 50px;
		outline: none;
		color: #939598;

		@include eltdBoxSizing(border-box);
	}

	.wpcf7-text,
	.wpcf7-number,
	.wpcf7-date,
	.wpcf7-textarea,
	.wpcf7-select,
	.wpcf7-quiz {
		color: #939598;
	}

	&.widget_categories {

		h4 {
			margin-bottom: 10px;
		}

		ul li {
			position: relative;
		}

		ul {
			list-style: none;
			margin-top: 0;
		}

		ul li a {
			font-size: 14px;
			font-weight: 300;
			display: inline-block;
			padding-bottom: 7px;
			padding-top: 7px;
			font-family: $headings-font-family;
		}

	}

	&.eltd-latest-posts-widget ul li a {
		font-family: $headings-font-family-2;
		font-family: 400;
	}

	.searchform {
		position: relative;
		padding-right: 51px;
		border: 1px solid #535353;

		input[type=text] {
			width: 100%;
		}

		input[type=submit] {
			position: absolute;
			right: 0;
		}
	}

	&.widget_product_tag_cloud .tagcloud a,
	&.widget_tag_cloud .tagcloud a {
		font-size: 12px !important;
		display: inline-block;
		font-family: $headings-font-family;
		text-transform: capitalize;
		font-weight: 700;
		color: #fff;
		padding: 0 28px;
		margin-right: 1px;
		margin-bottom: 3px;
		border: 1px solid #535353;
		background-color: #535353;

		@include eltdTransition(background-color .15s ease-out, border .15s ease-out);

		&:hover {
			background-color: $first-main-color;
			border: 1px solid $first-main-color;
		}
	}

	&.widget_tag_cloud h4 {
		margin-bottom: 20px;
		margin-top: 35px;
	}

	&.widget_search input[type=text],
	&.widget_text select {
		overflow: hidden;
		background-color: #fff;
		padding: 0 21px;
		height: 50px;
		outline: none;
		color: #7f8385;
		font-family: inherit;
		float: left;
		border: 0;

		@include eltdBoxSizing(border-box);
	}

	&.widget_product_search input[type=submit],
	&.widget_search input[type=submit] {
		border: none;
		outline: 0;
		font-family: 'ElegantIcons';
		width: 60px;
		height: 50px;
		cursor: pointer;
		color: #fff;
		background-color: #535353;
		font-size: 18px;
	}

	&.widget_categories ul li a {
		font-size: 14px;
		font-weight: 300;
		font-family: $headings-font-family;
	}

	&.widget_recent_comments li.recentcomments {
		padding-top: 7px;
		padding-bottom: 7px;
	}

	&.widget_rss ul li {
		padding-bottom: 7px;
		padding-top: 7px;
	}

	&.widget_eltd_twitter_widget {

		.eltd-tweet-holder,
		.eltd_tweet_time {
			line-height: 23px;
			font-weight: 300;
		}

		ul.eltd_twitter_widget li {
			padding-bottom: 9px;

			&:after {
				content: '....................';
				font-weight: 300;
				color: #fff;
				font-family: $headings-font-family-2;
				font-size: 15px;
				font-style: italic;
			}

		}

		.eltd_tweet_text {
			font-size: 15px;
			font-weight: 300;
			color: #bdbdbd;
			margin-bottom: 5px;

			a {
				color: #bdbdbd;

				@include eltdTransition(color .15s ease-out);

				&:hover {
					color: $first-main-color;
				}
			}
		}
	}

	.eltd-iwt-icon-left {
		.eltd-iwt-title-holder h6 {
			margin-top: 0;
			font-style: normal;
			font-family: $default-font-family;
		}

		.eltd-iwt-content-holder {
			padding-left: 30px;
		}
	}

	&.widget_eltd_instagram_widget h5.eltd-footer-widget-title {
		margin-bottom: 11px;
	}

}

footer .eltd-footer-bottom-holder .widget {

	&.eltd-footer-bottom-left.widget_text {
		padding-top: 21px;
	}

	&.eltd-footer-bottom-right.widget_text {
		padding-top: 21px;
	}

	.eltd-footer-widget-title {
		color: #7f8385;
	}

}

/* ==========================================================================
# Footer widgets - end
========================================================================== */

