/* ==========================================================================
   WooCommerce Buttons styles - begin
   ========================================================================== */

.woocommerce-page .eltd-content,
div.woocommerce {

	.single_add_to_cart_button {
		min-width: 155px;
	}

	a.button,
	a.added_to_cart,
	input[type="submit"],
	button[type="submit"] {
		position: relative;
		display: inline-block;
		width: auto;
		height: 40px;
		line-height: 40px;
		padding: 0 5px;
		font-size: 12px;
		font-weight: 700;
		letter-spacing: 0.05em;
		color: #fff;
		background-color: #363636;
		border: 0;
		outline: none;
		cursor: pointer;
		vertical-align: middle;
		text-transform: uppercase;
		-webkit-appearance: none;
		min-width: 154px;

		@include eltdBoxSizing(border-box);
		@include eltdTransition(color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out);

		&:hover {
			color: #fff;
			background-color: #383838;
		}
	}

	a.added_to_cart {
		padding: 0 30px;
	}

	a.button.added {
		display: none;
	}

	.wc-forward:not(.added_to_cart):not(.checkout-button) {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		width: auto;
		height: 38px;
		line-height: 38px;
		font-size: 10px;
		font-weight: 700;
		letter-spacing: 2px;
		text-transform: uppercase;
		padding: 0 26px;
		color: #fff;
		background-color: $first-main-color;
		border: 0;
		outline: none;
		-webkit-appearance: none;
		@include eltdTransition(color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out);
		@include eltdBoxSizing(border-box);

		&:hover {
			color: #fff;
			background-color: #383838;
		}
	}
}

/* ==========================================================================
   WooCommerce Buttons styles - end
   ========================================================================== */