/* ==========================================================================
   WooCommerce Message styles - begin
   ========================================================================== */
.eltd-woocommerce-page {

    .woocommerce-message,
    .woocommerce-info,
    .woocommerce-error {
        position: relative;
        display: block;
        padding: 20px 30px;
        margin: 0 0 30px;
        line-height: 38px;
        list-style: none;
        background-color: transparent;
        border: 1px solid $default-border-color;

        > a {
            color: $default-text-color;

            &:hover {
                color: $headings-text-color;
            }
        }

        a {
            float: right;
        }
    }

    .woocommerce-info {

        .showcoupon {
            color: $default-text-color;

            &:hover {
                color: $headings-text-color;
            }
        }
    }
}
/* ==========================================================================
   WooCommerce Message styles - end
   ========================================================================== */