/* ==========================================================================
   WooCommerce Pagination styles - begin
   ========================================================================== */
.eltd-woo-pagination-holder {
	@include eltdRelativeHolderLayout();
	margin: 0 0 66px;
	clear: both;

	.eltd-woo-pagination-inner {
		position: relative;
		display: table;
		width: 100%;
		text-align: right;
	}
}

.woocommerce-pagination {
	position: relative;
	display: block;
	vertical-align: top;
	width: 99%;
	margin: 0;
	padding: 0;

	.page-numbers {
		position: relative;
		display: block;
		width: auto;
		margin: 0;
		padding: 0;
		text-align: center;
		left: 50%;
		float: left;

		@include eltdTransform(translateX(-50%));

		li {
			position: relative;
			display: inline-block;
			margin: 0 2px;

			a,
			span {
				position: relative;
				display: inline-block;
				margin: 0;
				padding: 0;
				vertical-align: middle;
				text-decoration: none;
				cursor: pointer;
				white-space: nowrap;
				font-size: 15px;
				font-weight: 300;
				line-height: 39px;
				width: 39px;
				height: 39px;
				color: #808285;
				background-color: #f9f9f9;

				@include eltdTransition(color .2s ease-out, background-color .2s ease-out);

				&:hover,
				&.current {
					color: $first-main-color;
					background-color: #ebebeb;
				}
			}

			a {

				&.next,
				&.prev {
					font-size: 0px;
					line-height: 1;

					&:before {
						display: block;
						font-family: 'Ionicons';
						font-size: 16px;
						line-height: 39px;
						-webkit-font-smoothing: antialiased;
						-moz-osx-font-smoothing: grayscale;
					}
				}

				&.prev {

					&:before {
						content: "\f3d2";
					}
				}

				&.next {

					&:before {
						content: "\f3d3";
					}
				}
			}
		}
	}
}

.eltd-woo-view-all-pagination {
	position: relative;
	display: table-cell;
	vertical-align: top;
	width: 1%;

	a {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		white-space: nowrap;
		padding: 0 0 0 2px;
		color: $default-text-color;

		&:before {
			content: '|';
			padding: 0 14px 0 0;
			color: $default-text-color;
		}

		&:hover {
			color: $headings-text-color;
		}
	}
}

/* ==========================================================================
   WooCommerce Pagination styles - end
   ========================================================================== */