/* ==========================================================================
   WooCommerce Variation Shortcode styles - begin
   ========================================================================== */
.eltd-woocommerce-page .eltd-content {

    .variations {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        margin: 0;
        border: none;
        padding: 0;

        tr {
            display: block;
            padding: 0 0 10px;
            border: 0;

            &:last-child {
                margin: 0;
            }
        }

        td {
            padding: 0;
            text-align: left;
        }

        .value select {
            position: relative;
            width: 200px;
            margin: 0 16px;
            outline: none;
            background-color: transparent;
            background-image: none;
            border: 1px solid $default-border-color;
            border-radius: 0;
            color: $default-text-color;
            font-size: 14px;
            height: 44px;
            line-height: 44px;
            padding: 0 20px;
            @include eltdBoxSizing(border-box);
        }

        .reset_variations {
            color: $headings-text-color;
        }
    }

    .single_variation_wrap {
        margin: 15px 0 0;

        .single_variation {
            margin: 0 0 25px;
        }
    }

    table.group_table {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        margin: 0;
        border: none;
        padding: 0;

        tbody {
           display: block; 
        }

        tr {
            display: block;
            padding: 0 0 10px;
            border: 0;

            &:last-child {
                margin: 0;
            }
        }

        td {
            padding: 0 17px 10px 0;
            text-align: left;

            &.price {
                display: table-cell;
                vertical-align: middle;
            }

            &:last-child {
                padding: 0 0 10px;
            }
        }

        .eltd-quantity-buttons {
            margin: 0;
        }

        a {
            color: $default-text-color;

            &:hover {
                color: $headings-text-color;
            }
        }
    }
}
/* ==========================================================================
   WooCommerce Variation Shortcode styles - end
   ========================================================================== */