@import "blocks/logo";
@import "blocks/main_menu";
@import "widgets/search";
@import "widgets/sections";
@import "widgets/banner";
@import "top-bar/top-bar";
@import "types/header-standard/_header-standard";
@import "types/header-minimal/_header-minimal";
@import "types/header-centered/_header-centered";
@import "types/header-vertical/_header-vertical";
@import "types/mobile-header/_mobile-header";

$logo-area-height: 220px;
$menu-area-height: 100px;
$sticky-header-height: 60px;

.eltd-page-header {

	display: inline-block;
	margin: 0;
	position: relative;
	vertical-align: middle;
	width: 100%;
	z-index: 110;

	/* ==========================================================================
	#General header layout - start
	========================================================================== */
	a img {
		display: block;
	}

	.eltd-grid {
		height: 100%;

		.eltd-vertical-align-containers {
			padding: 0;
			@include eltdTransition(background-color 0.3s ease);
		}
	}

	/* ==========================================================================
	#General header layout - end
	========================================================================== */

	/* ==========================================================================
	#Logo area styles - start
	========================================================================== */
	.eltd-logo-area {
		height: $logo-area-height;
		overflow: hidden;
		position: relative;

		.eltd-logo-wrapper a {
			max-height: $logo-area-height*0.9;
		}
	}
	/* ==========================================================================
	#Logo area styles - end
	========================================================================== */

	/* ==========================================================================
	#Menu area styles - start
	========================================================================== */
	.eltd-menu-area {
		height: $menu-area-height;
		position: relative;
		@include eltdTransition(background-color 0.3s ease);

		.eltd-logo-wrapper a {
			max-height: $menu-area-height*0.9;
		}
	}

	/* ==========================================================================
	#Menu area styles - end
	========================================================================== */

	/* ==========================================================================
	#Sticky header styles - start
	========================================================================== */
	.eltd-sticky-header {
		height: $sticky-header-height;
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 100;
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%);
		-webkit-transition: -webkit-transform 0.33s ease;
		transition: transform 0.3s ease;
		-webkit-backface-visibility: hidden;

		&.header-appear {
			@include eltdTransform(translateY(0%));
		}

		.eltd-sticky-holder {
			height: 100%;
			background-color: #323232;
			position: relative;
			z-index: 2;

			@include eltdBoxSizing(border-box);
		}

		.admin-bar &.header-appear {
			top: 32px;
		}

		.eltd-position-right-inner {
			height: 100%;
		}

		.eltd-sticky-holder .eltd-logo-wrapper a {
			max-height: $sticky-header-height*0.9;
		}

		.eltd-sticky-right-widget-area {
			height: 100%;
			display: inline-block;
			vertical-align: middle;
			color: #fff;

			@include eltdClearfix;
		}

		.eltd-sticky-right-widget {
			display: table;
			height: 100%;
			float: left;
			margin-left: 15px;
		}

		.eltd-sticky-right-widget-inner {
			display: table-cell;
			vertical-align: middle;
		}

		.eltd-sticky-right {
			display: inline-block;
			vertical-align: middle;
		}

		.eltd-main-menu > ul > li > a,
		.eltd-main-menu > ul > li.eltd-active-item > a,
		body:not(.eltd-menu-item-first-level-bg-color) & .eltd-main-menu > ul > li > a,
		.eltd-side-menu-button-opener,
		.eltd-search-opener {
			color: #fff;

			&:hover {
				color: $first-main-color;
			}
		}

		.eltd-main-menu > ul > li:hover > a,
		body:not(.eltd-menu-item-first-level-bg-color) & .eltd-main-menu > ul > li:hover > a {
			color: $first-main-color;
		}
	}

	/* ==========================================================================
	#Sticky header styles - start
	========================================================================== */

	/* ==========================================================================
	#Fixed header styles - start
	========================================================================== */
	.eltd-fixed-wrapper.fixed {
		width: 100%;
		position: fixed;
		left: 0px;
		top: 0px;
		-webkit-backface-visibility: hidden;
	}

	/* ==========================================================================
	#Fixed header - end
	========================================================================== */

	.eltd-search-opener {
		color: #1b1b1b;
		font-size: 17px;

		&:hover {
			color: $first-main-color;
		}
	}

	#lang_sel > ul > li {
		margin: -100% 0;
		padding: 100% 0;
	}

}

/* ==========================================================================
#Light header - begin
========================================================================== */

.eltd-light-header {

	.eltd-logo-area,
	.eltd-menu-area,
	.eltd-vertical-menu-area {
		//color: $header-light-color !important; //Beacause of inline color styles

		.eltd-main-menu-widget-area {
			color: $header-light-color; //Beacause of inline color styles

			p,
			a,
			span,
			i,
			.widgettitle {
				color: $header-light-color; //Beacause of inline color styles
			}

		}

		.eltd-light-logo {
			opacity: 1;
		}

		.eltd-dark-logo,
		.eltd-normal-logo {
			opacity: 0;
		}

	}

	.eltd-shopping-cartNsection-holder .eltd-cart-count {
		background-color: #363636;
	}

	.eltd-main-menu.eltd-drop-down:after {
		background-color: #fff;
	}

	.eltd-drop-down .second .inner > ul,
	li.narrow .second .inner ul {
		background-color: #f8f8f8;
	}

	.eltd-drop-down .second .inner ul li a {
		color: #808285;
	}

	.eltd-drop-down .wide .second > .inner > ul > li {
		border-right: 1px solid #dfdfdf;

		&:last-child {
			border-right: 0;
		}
	}

	.eltd-drop-down .second .inner ul li.sub ul li:hover > a,
	.eltd-drop-down .second .inner > ul > li:hover > a {
		color: #363636;
	}

	.eltd-drop-down .wide.icons .second ul li.eltd-menu-item-with-icon > a .item_text {
		color: #363636;
	}

	.eltd-drop-down .menu_icon_wrapper {
		color: #363636;
	}

}

/* ==========================================================================
#Light header - end
========================================================================== */

/* ==========================================================================
#Dark header - begin
========================================================================== */

.eltd-dark-header {

	.eltd-logo-area,
	.eltd-menu-area,
	.eltd-vertical-menu-area {
		//color: $header-dark-color !important; //Because of inline color styles

		.eltd-main-menu-widget-area {
			color: $header-dark-color !important; //Beacause of inline color styles

			p,
			a,
			i,
			.widgettitle {
				color: $header-dark-color !important; //Beacause of inline color styles
			}

		}

		.eltd-dark-logo {
			opacity: 1;
		}

		.eltd-normal-logo,
		.eltd-light-logo {
			opacity: 0;
		}

	}

	.eltd-drop-down .second .inner ul li.sub ul li:hover > a,
	.eltd-drop-down .second .inner > ul > li:hover > a {
		color: #fff;
	}

}

/* ==========================================================================
#Dark header - end
========================================================================== */