.eltd-portfolio-list-holder-outer.eltd-ptf-pinterest,
.eltd-portfolio-list-holder-outer.eltd-ptf-masonry {
	.eltd-portfolio-list-holder {
		opacity: 0;
	}
}

.eltd-ptf-pinterest {
	$gutter-size: 3%;

	article {
		margin-bottom: $gutter-size;
	}

	.eltd-portfolio-list-masonry-grid-gutter {
		width: $gutter-size;
	}

	.eltd-ptf-item-text-overlay {
		margin-top: 21px;

		.eltd-ptf-category-holder {
			margin-bottom: 0;
			margin-top: 8px;
			padding-bottom: 37px;

			&:after {
				content: '....................';
				position: absolute;
				left: 0;
				bottom: 17px;
				color: $first-main-color;
				font-family: $headings-font-family-2;
				font-style: italic;
				font-size: 15px;
			}
		}
	}

	.eltd-portfolio-item {

		.eltd-ptf-item-image-holder {
			overflow:hidden;

			a {
				@include eltdTransition(all 0.15s ease-in-out);
			}
		}

		&:hover {

			.eltd-ptf-item-image-holder a {
				@include eltdTransform(scale(1.03,1.03));
			}

		}

	}

	&.eltd-ptf-pinterest-three-columns {
		.eltd-portfolio-list-masonry-grid-sizer,
		article {
			width: 31.33%;
		}
	}

	&.eltd-ptf-pinterest-four-columns {
		.eltd-portfolio-list-masonry-grid-sizer,
		article {
			width: 23%;
		}

		.eltd-portfolio-list-masonry-grid-gutter {
			width: 2.65%;
		}

		article {
			margin-bottom: 2.65%;
		}
	}

	&.eltd-ptf-pinterest-five-columns {
		.eltd-portfolio-list-masonry-grid-sizer,
		article {
			width: 18%;
		}

		.eltd-portfolio-list-masonry-grid-gutter {
			width: 2.5%;
		}

		article {
			margin-bottom: 2.5%;
		}
	}


}