@media only screen and (max-width: 1200px) {
  .eltd-blog-holder.eltd-masonry-full-width article,
  .eltd-blog-holder.eltd-masonry-full-width .eltd-blog-masonry-grid-sizer {
    width: 23.5%;
  }
  .eltd-blog-holder.eltd-blog-type-masonry .eltd-author-desc .eltd-image-name {
    width: 100% !important;
  }
  .eltd-blog-holder.eltd-blog-type-split-column article:not(.format-quote):not(.format-link) .eltd-post-image-wrapper,
  .eltd-blog-holder.eltd-blog-type-split-column article:not(.format-quote):not(.format-link) .eltd-post-text {
    display: inline-block;
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-grid-row .eltd-grid-col-9 .eltd-blog-holder,
  .eltd-grid-row .eltd-grid-col-8 .eltd-blog-holder {
    padding-right: 0;
  }
  .eltd-grid-row .eltd-grid-col-9.eltd-grid-col-push-4 .eltd-blog-holder, .eltd-grid-row .eltd-grid-col-9.eltd-grid-col-push-3 .eltd-blog-holder,
  .eltd-grid-row .eltd-grid-col-8.eltd-grid-col-push-4 .eltd-blog-holder,
  .eltd-grid-row .eltd-grid-col-8.eltd-grid-col-push-3 .eltd-blog-holder {
    padding-left: 0;
  }
  .eltd-blog-holder.eltd-blog-type-split-column article:not(.format-quote):not(.format-link) .eltd-post-content .eltd-post-image,
  .eltd-blog-holder.eltd-blog-type-split-column article:not(.format-quote):not(.format-link) .eltd-post-content .eltd-post-text {
    display: inline-block;
    width: 100%;
  }
  .eltd-blog-holder.eltd-blog-type-split-column article:not(.format-quote):not(.format-link) .eltd-post-content .eltd-post-text-inner {
    padding-left: 0px;
  }
  .eltd-blog-holder.eltd-masonry-full-width article,
  .eltd-blog-holder.eltd-masonry-full-width .eltd-blog-masonry-grid-sizer {
    width: 32%;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-blog-holder.eltd-blog-type-masonry article,
  .eltd-blog-holder.eltd-blog-type-masonry .eltd-blog-masonry-grid-sizer {
    width: 49%;
  }
  .eltd-blog-holder.eltd-masonry-full-width article,
  .eltd-blog-holder.eltd-masonry-full-width .eltd-blog-masonry-grid-sizer {
    width: 49%;
  }
  .eltd-column1 .eltd-related-posts-holder .eltd-related-post,
  .eltd-column2 .eltd-related-posts-holder .eltd-related-post,
  .eltd-related-posts-holder .eltd-related-post {
    width: 49.875%;
  }
  .eltd-column1 .eltd-related-posts-holder .eltd-related-post:nth-child(2n),
  .eltd-column2 .eltd-related-posts-holder .eltd-related-post:nth-child(2n),
  .eltd-related-posts-holder .eltd-related-post:nth-child(2n) {
    margin-right: 0;
  }
  .eltd-column1 .eltd-related-posts-holder .eltd-related-post:nth-child(2n+1),
  .eltd-column2 .eltd-related-posts-holder .eltd-related-post:nth-child(2n+1),
  .eltd-related-posts-holder .eltd-related-post:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-blog-holder.eltd-blog-type-masonry article,
  .eltd-blog-holder.eltd-blog-type-masonry .eltd-blog-masonry-grid-sizer {
    width: 100%;
  }
  .eltd-blog-holder.eltd-masonry-full-width article,
  .eltd-blog-holder.eltd-masonry-full-width .eltd-blog-masonry-grid-sizer {
    width: 100%;
  }
  .eltd-blog-holder .eltd-post-content .eltd-image-name {
    width: 100%;
  }
  .eltd-post-content .eltd-share-icons {
    width: 100%;
    text-align: left;
    margin-top: 10px;
  }
  .eltd-blog-single article.post .eltd-category-holder {
    width: 100%;
  }
  .single .eltd-single-tags-holder {
    width: 100%;
    padding-right: 0;
  }
  .eltd-blog-holder article.post .eltd-share-icons-single {
    width: 100%;
    text-align: left;
    padding-left: 0;
  }
  .eltd-blog-date-on-side .eltd-post-text-inner {
    margin-left: 55px !important;
  }
  .eltd-blog-date-on-side .eltd-post-content .eltd-author-desc {
    padding-left: 55px !important;
  }
  .eltd-blog-date-on-side .eltd-date-format {
    padding: 5px 10px 5px 10px !important;
  }
  .eltd-blog-date-on-side span.eltd-day {
    font-size: 17px !important;
  }
  .eltd-blog-date-on-side span.eltd-month {
    font-size: 12px !important;
  }
}

@media only screen and (max-width: 480px) {
  .eltd-related-posts-holder .eltd-related-post {
    width: 100% !important;
    margin-right: 0 !important;
  }
  .eltd-related-posts-holder .eltd-related-posts-title h3:before,
  .eltd-related-posts-holder .eltd-related-posts-title h3:after {
    display: none !important;
  }
  .eltd-post-link-link h6 a {
    word-wrap: break-word;
  }
  .single-post .eltd-comment-holder .eltd-comment-text {
    padding: 0;
  }
  .single-post .eltd-comment-holder .eltd-comment-image img {
    margin-left: 0;
  }
  .single-post .eltd-comment-holder .eltd-comment-text .eltd-comment-info span.eltd-comment-date {
    margin-left: 0;
    float: left;
  }
  .eltd-comment-holder .eltd-comment-text .eltd-comment-name {
    margin-right: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-blog-holder.eltd-blog-single .eltd-author-description .eltd-author-description-text-holder {
    padding-left: 0;
  }
  .eltd-blog-single-navigation .eltd-blog-single-prev.eltd-single-nav-with-image .eltd-single-nav-content-holder {
    padding-left: 0 !important;
    float: left !important;
  }
  .eltd-blog-single-navigation .eltd-blog-single-next.eltd-single-nav-with-image .eltd-single-nav-content-holder {
    padding-right: 0 !important;
    float: right !important;
  }
  .single .eltd-blog-single-navigation .eltd-blog-single-prev .eltd-single-nav-text {
    padding-left: 40px;
    text-align: right;
    padding-right: 43px;
  }
  .single .eltd-blog-single-navigation .eltd-blog-single-next .eltd-single-nav-text {
    padding-right: 40px;
    padding-left: 44px;
    text-align: left;
  }
  .single .eltd-blog-single-navigation .eltd-blog-single-prev .eltd-single-nav-arrow,
  .single .eltd-blog-single-navigation .eltd-blog-single-next .eltd-single-nav-arrow {
    margin-top: 0px;
  }
  .single .eltd-blog-single-navigation .eltd-blog-single-prev .eltd-single-nav-post-title,
  .single .eltd-blog-single-navigation .eltd-blog-single-next .eltd-single-nav-post-title {
    display: none;
  }
  .single .eltd-blog-single-navigation .eltd-blog-single-prev .eltd-single-nav-post-sub,
  .single .eltd-blog-single-navigation .eltd-blog-single-next .eltd-single-nav-post-sub {
    font-size: 15px;
    color: #808285;
  }
  .single .eltd-blog-single-navigation .eltd-blog-single-prev img,
  .single .eltd-blog-single-navigation .eltd-blog-single-next img {
    vertical-align: middle;
  }
  .single .eltd-blog-date-on-side article.format-link .eltd-post-info {
    margin-left: 0;
    float: left;
    margin-top: 50px;
  }
  .single .eltd-blog-date-on-side article.format-quote .eltd-post-info {
    margin-left: 0;
    float: left;
  }
  .single .eltd-blog-date-on-side .eltd-single-tag {
    width: 100%;
  }
  .single .eltd-blog-holder .format-quote .eltd-post-quote-holder {
    padding: 65px 20px 70px;
  }
  .single .eltd-blog-holder .format-link .eltd-post-link-holder {
    padding: 65px 20px 70px;
  }
}

@media only screen and (max-width: 480px) {
  .eltd-blog-holder article.format-link h2.eltd-post-title,
  .eltd-blog-holder article.format-quote h2.eltd-post-title {
    padding: 40px 0px 38px;
  }
  .single .eltd-author-description {
    padding: 40px 28px;
  }
}

/*# sourceMappingURL=blog-responsive.css.map */