/* ==========================================================================
   WooCommerce Responsive styles - begin
   ========================================================================== */
/*------------------------------------------------------------------
 * This is main woocommerce responsive css file for theme. It is broken into following sections:
 * 1.  Global Responsive
 * 2.  Single Product Responsive
 * 3.  WooCommerce Product Lists and Shortcodes Responsive
 * 4.  Cart Responsive
 * 5.  Checkout Responsive
 * 6.  My Account Responsive
 * 7.  Shortcodes Responsive
 * 8.  Widgets Responsive
-------------------------------------------------------------------*/
/* ==========================================================================
   1. Global responsive styles - begin
   ========================================================================== */
/********** Message responsive style **********/
/* ==========================================================================
   WooCommerce Message Responsive styles - begin
   ========================================================================== */
@media only screen and (max-width: 768px) {
  .eltd-woocommerce-page .woocommerce-message,
  .eltd-woocommerce-page .woocommerce-info,
  .eltd-woocommerce-page .woocommerce-error {
    padding: 17px 25px;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-woocommerce-page .woocommerce-message,
  .eltd-woocommerce-page .woocommerce-info,
  .eltd-woocommerce-page .woocommerce-error {
    padding: 14px 20px;
    line-height: 2em;
  }
  .eltd-woocommerce-page .woocommerce-message a,
  .eltd-woocommerce-page .woocommerce-info a,
  .eltd-woocommerce-page .woocommerce-error a {
    float: none;
    margin: 0 70% 15px 0;
  }
}

/* ==========================================================================
   WooCommerce Message Responsive styles - end
   ========================================================================== */
/********** Result and ordering responsive style **********/
/* ==========================================================================
   WooCommerce Result and Ordering Responsive styles - begin
   ========================================================================== */
@media only screen and (max-width: 480px) {
  .eltd-woocommerce-page .woocommerce-result-count,
  .eltd-woocommerce-page .woocommerce-ordering {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
  }
  .eltd-woocommerce-page .woocommerce-ordering .orderby {
    display: block;
    float: none;
  }
  .eltd-woocommerce-page .woocommerce-ordering .select2-container .select2-arrow {
    right: 60px;
  }
}

/* ==========================================================================
   WooCommerce Result and Ordering Responsive styles - end
   ========================================================================== */
/********** Quantity inputs and button responsive style **********/
/* ==========================================================================
   WooCommerce Quantity Inputs responsive styles - begin
   ========================================================================== */
@media only screen and (max-width: 768px) {
  .woocommerce-page .eltd-quantity-buttons .eltd-quantity-input,
  .woocommerce-page .eltd-quantity-buttons .eltd-quantity-minus,
  .woocommerce-page .eltd-quantity-buttons .eltd-quantity-plus,
  div.woocommerce .eltd-quantity-buttons .eltd-quantity-input,
  div.woocommerce .eltd-quantity-buttons .eltd-quantity-minus,
  div.woocommerce .eltd-quantity-buttons .eltd-quantity-plus {
    font-size: 13px;
  }
  .woocommerce-page .eltd-quantity-buttons .eltd-quantity-input,
  div.woocommerce .eltd-quantity-buttons .eltd-quantity-input {
    height: 38px;
    width: 38px;
    margin: 0 19px 0 0;
    line-height: 36px;
  }
  .woocommerce-page .eltd-quantity-buttons .eltd-quantity-minus,
  .woocommerce-page .eltd-quantity-buttons .eltd-quantity-plus,
  div.woocommerce .eltd-quantity-buttons .eltd-quantity-minus,
  div.woocommerce .eltd-quantity-buttons .eltd-quantity-plus {
    width: 19px;
    height: 19px;
    line-height: 17px;
  }
}

/* ==========================================================================
   WooCommerce Quantity Inputs responsive styles - end
   ========================================================================== */
/* ==========================================================================
   2. Single Product responsive styles - begin
   ========================================================================== */
/* ==========================================================================
   WooCommerce Single Product Page Responsive styles - begin
   ========================================================================== */
@media only screen and (max-width: 1400px) {
  .eltd-woo-single-page .product .images {
    margin-right: 0;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-woo-single-page .product .images,
  .eltd-woo-single-page .product .eltd-single-product-summary {
    float: none;
    width: 100%;
    padding: 0;
  }
  .eltd-woo-single-page .product .eltd-single-product-summary {
    margin: 35px 0 0;
  }
  .eltd-woo-single-page .product .eltd-single-product-content {
    padding: 0 0 18px;
    margin: 0 0 0;
  }
  .eltd-single-product-summary .eltd-single-product-title {
    line-height: 1.2em;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-woo-single-page .product .images .thumbnails.columns-2 a {
    float: none;
    width: 100%;
  }
  .eltd-woo-single-page .product .images .thumbnails.columns-4 a {
    width: 50%;
  }
}

@media only screen and (max-width: 480px) {
  .eltd-woo-single-page .woocommerce-tabs {
    margin: 34px 0 0;
  }
  .eltd-woo-single-page .woocommerce-tabs ul.tabs > li {
    float: none;
    width: 100%;
    padding: 11px 0 0;
  }
  .eltd-woo-single-page .woocommerce-tabs ul.tabs > li a {
    display: block;
  }
  .eltd-single-product-summary .price {
    font-size: 26px;
  }
  .eltd-single-product-summary .price .woocommerce-Price-currencySymbol {
    font-size: 26px;
    vertical-align: initial;
  }
}

/* ==========================================================================
   WooCommerce Single Product Page Responsive styles - end
   ========================================================================== */
/* ==========================================================================
   3. WooCommerce Product Lists and Shortcodes responsive styles - begin
   ========================================================================== */
/********** Product list main and VC responsive style **********/
/* ==========================================================================
# Woocommerce Product List Main and VC Shortcode responsive style - begin
========================================================================== */
@media only screen and (max-width: 1440px) {
  .woocommerce.columns-6 > .products > .product {
    width: 20%;
  }
}

@media only screen and (max-width: 1440px) and (min-width: 1201px) {
  .woocommerce.columns-6 > .products > .product:nth-child(5n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1200px) {
  .woocommerce.columns-5 > .products > .product {
    width: 25%;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 1025px) {
  .woocommerce.columns-5 > .products > .product:nth-child(4n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1200px) {
  .woocommerce.columns-6 > .products > .product {
    width: 25%;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 1025px) {
  .woocommerce.columns-6 > .products > .product:nth-child(4n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-woocommerce-columns-3 .eltd-pl-main-holder > .products > .product, .eltd-woocommerce-columns-3
  .related.products > .products > .product, .eltd-woocommerce-columns-3
  .upsells.products > .products > .product, .eltd-woocommerce-columns-3
  .cross-sells > .products > .product {
    width: 33.3333333333%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .eltd-woocommerce-columns-3 .eltd-pl-main-holder > .products > .product:nth-child(3n+1), .eltd-woocommerce-columns-3
  .related.products > .products > .product:nth-child(3n+1), .eltd-woocommerce-columns-3
  .upsells.products > .products > .product:nth-child(3n+1), .eltd-woocommerce-columns-3
  .cross-sells > .products > .product:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-woocommerce-columns-4 .eltd-pl-main-holder > .products > .product, .eltd-woocommerce-columns-4
  .related.products > .products > .product, .eltd-woocommerce-columns-4
  .upsells.products > .products > .product, .eltd-woocommerce-columns-4
  .cross-sells > .products > .product {
    width: 33.3333333333%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .eltd-woocommerce-columns-4 .eltd-pl-main-holder > .products > .product:nth-child(3n+1), .eltd-woocommerce-columns-4
  .related.products > .products > .product:nth-child(3n+1), .eltd-woocommerce-columns-4
  .upsells.products > .products > .product:nth-child(3n+1), .eltd-woocommerce-columns-4
  .cross-sells > .products > .product:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .woocommerce.columns-4 > .products > .product {
    width: 33.3333333333%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .woocommerce.columns-4 > .products > .product:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .woocommerce.columns-5 > .products > .product {
    width: 33.3333333333%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .woocommerce.columns-5 > .products > .product:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .woocommerce.columns-6 > .products > .product {
    width: 33.3333333333%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .woocommerce.columns-6 > .products > .product:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-woocommerce-columns-3 .eltd-pl-main-holder > .products > .product, .eltd-woocommerce-columns-3
  .related.products > .products > .product, .eltd-woocommerce-columns-3
  .upsells.products > .products > .product, .eltd-woocommerce-columns-3
  .cross-sells > .products > .product {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) and (min-width: 601px) {
  .eltd-woocommerce-columns-3 .eltd-pl-main-holder > .products > .product:nth-child(2n+1), .eltd-woocommerce-columns-3
  .related.products > .products > .product:nth-child(2n+1), .eltd-woocommerce-columns-3
  .upsells.products > .products > .product:nth-child(2n+1), .eltd-woocommerce-columns-3
  .cross-sells > .products > .product:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-woocommerce-columns-4 .eltd-pl-main-holder > .products > .product, .eltd-woocommerce-columns-4
  .related.products > .products > .product, .eltd-woocommerce-columns-4
  .upsells.products > .products > .product, .eltd-woocommerce-columns-4
  .cross-sells > .products > .product {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) and (min-width: 601px) {
  .eltd-woocommerce-columns-4 .eltd-pl-main-holder > .products > .product:nth-child(2n+1), .eltd-woocommerce-columns-4
  .related.products > .products > .product:nth-child(2n+1), .eltd-woocommerce-columns-4
  .upsells.products > .products > .product:nth-child(2n+1), .eltd-woocommerce-columns-4
  .cross-sells > .products > .product:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 768px) {
  .woocommerce.columns-3 > .products > .product {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) and (min-width: 601px) {
  .woocommerce.columns-3 > .products > .product:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 768px) {
  .woocommerce.columns-4 > .products > .product {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) and (min-width: 601px) {
  .woocommerce.columns-4 > .products > .product:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 768px) {
  .woocommerce.columns-5 > .products > .product {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) and (min-width: 601px) {
  .woocommerce.columns-5 > .products > .product:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 768px) {
  .woocommerce.columns-6 > .products > .product {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) and (min-width: 601px) {
  .woocommerce.columns-6 > .products > .product:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-woocommerce-columns-3 .eltd-pl-main-holder > .products > .product, .eltd-woocommerce-columns-3
  .related.products > .products > .product, .eltd-woocommerce-columns-3
  .upsells.products > .products > .product, .eltd-woocommerce-columns-3
  .cross-sells > .products > .product {
    width: 100%;
  }
  .eltd-woocommerce-columns-4 .eltd-pl-main-holder > .products > .product, .eltd-woocommerce-columns-4
  .related.products > .products > .product, .eltd-woocommerce-columns-4
  .upsells.products > .products > .product, .eltd-woocommerce-columns-4
  .cross-sells > .products > .product {
    width: 100%;
  }
  .woocommerce.columns-2 > .products > .product {
    width: 100%;
  }
  .woocommerce.columns-3 > .products > .product {
    width: 100%;
  }
  .woocommerce.columns-4 > .products > .product {
    width: 100%;
  }
  .woocommerce.columns-5 > .products > .product {
    width: 100%;
  }
  .woocommerce.columns-6 > .products > .product {
    width: 100%;
  }
}

/* ==========================================================================
# Woocommerce Product List Main and VC Shortcode responsive style - end
========================================================================== */
/* ==========================================================================
   4. Cart responsive styles - begin
   ========================================================================== */
/* ==========================================================================
   WooCommerce Cart Page Responsive styles - begin
   ========================================================================== */
@media only screen and (max-width: 1024px) {
  .eltd-woocommerce-page table.cart tr.cart_item td.product-remove {
    width: 40px;
  }
  .eltd-woocommerce-page table.cart tr.cart_item td.product-remove a:before {
    font-size: 35px;
  }
  .eltd-woocommerce-page table.cart tr.cart_item td.product-thumbnail {
    max-width: 60px;
    padding: 0;
  }
  .eltd-woocommerce-page table.cart td.actions .coupon input[type="text"] {
    width: 180px;
    margin: 0 17px 0 0;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-woocommerce-page table.cart tr.cart_item td.product-thumbnail a {
    display: none;
  }
  .eltd-woocommerce-page table.cart td.actions .coupon {
    float: none;
    display: block;
    margin: 0 0 20px;
  }
  .eltd-woocommerce-page table.cart td.actions > input {
    float: none;
  }
  .eltd-woocommerce-page .cart-collaterals table td, .eltd-woocommerce-page .cart-collaterals table th {
    padding: 15px 20px;
  }
  .woocommerce-cart .eltd-title.eltd-standard-type {
    height: 100px !important;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-woocommerce-page table.cart thead tr th {
    padding: 15px 6px;
  }
  .eltd-woocommerce-page table.cart tr.cart_item td {
    padding: 20px 3px;
  }
  .eltd-woocommerce-page .cart-collaterals table td, .eltd-woocommerce-page .cart-collaterals table th {
    padding: 12px 18px;
  }
}

@media only screen and (max-width: 480px) {
  .eltd-woocommerce-page table.cart tr.cart_item td.product-remove {
    width: 30px;
    padding-right: 0;
  }
  .eltd-woocommerce-page table.cart tr.cart_item td.product-remove a:before {
    font-size: 30px;
  }
  .eltd-woocommerce-page table.cart td.actions .coupon input[type="text"] {
    display: block;
    margin: 0 0 20px;
  }
}

/* ==========================================================================
   WooCommerce Cart Page Responsive styles - end
   ========================================================================== */
/* ==========================================================================
   5. Checkout responsive styles - begin
   ========================================================================== */
/********** Checkout page responsive style **********/
/* ==========================================================================
   WooCommerce Checkout Page Responsive styles - begin
   ========================================================================== */
@media only screen and (max-width: 768px) {
  .eltd-woocommerce-page .woocommerce-checkout .col-1,
  .eltd-woocommerce-page .woocommerce-checkout .col-2 {
    width: 100%;
  }
  .eltd-woocommerce-page .woocommerce-checkout .col-1 {
    margin: 0 0 25px;
  }
  .eltd-woocommerce-page .woocommerce-checkout table td, .eltd-woocommerce-page .woocommerce-checkout table th {
    padding: 15px 20px;
  }
  .eltd-woocommerce-page .woocommerce-checkout .woocommerce-checkout-payment ul li {
    padding: 15px 20px;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-woocommerce-page .woocommerce-checkout .col-1 .form-row,
  .eltd-woocommerce-page .woocommerce-checkout .col-2 .form-row {
    width: 100%;
    margin: 0;
    float: none;
  }
  .eltd-woocommerce-page .woocommerce-checkout table td, .eltd-woocommerce-page .woocommerce-checkout table th {
    padding: 12px 18px;
  }
  .eltd-woocommerce-page .woocommerce-checkout .woocommerce-checkout-payment ul li {
    padding: 12px 18px;
  }
}

@media only screen and (max-width: 480px) {
  .eltd-woocommerce-page .woocommerce-checkout .woocommerce-checkout-payment ul li.payment_method_paypal label img {
    display: none;
  }
}

/* ==========================================================================
   WooCommerce Checkout Page Responsive styles - end
   ========================================================================== */
/********** Order Received page responsive style **********/
/* ==========================================================================
   WooCommerce Checkout Page - Order Received Responsive styles - begin
   ========================================================================== */
@media only screen and (max-width: 768px) {
  .eltd-woocommerce-page.woocommerce-order-received .woocommerce .col2-set.addresses .col-1,
  .eltd-woocommerce-page.woocommerce-order-received .woocommerce .col2-set.addresses .col-2 {
    width: 100%;
  }
  .eltd-woocommerce-page.woocommerce-order-received .woocommerce .col2-set.addresses .col-1 {
    margin: 0 0 25px;
  }
  .eltd-woocommerce-page.woocommerce-order-received .woocommerce ul.order_details li {
    padding: 15px 20px;
  }
  .eltd-woocommerce-page.woocommerce-order-received .woocommerce table.shop_table td, .eltd-woocommerce-page.woocommerce-order-received .woocommerce table.shop_table th {
    padding: 15px 20px;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-woocommerce-page.woocommerce-order-received .woocommerce ul.order_details li {
    padding: 12px 18px;
  }
  .eltd-woocommerce-page.woocommerce-order-received .woocommerce table.shop_table td, .eltd-woocommerce-page.woocommerce-order-received .woocommerce table.shop_table th {
    padding: 12px 18px;
  }
}

/* ==========================================================================
   WooCommerce Checkout Page - Order Received Responsive styles - end
   ========================================================================== */
/* ==========================================================================
   6. MyAccount responsive styles - begin
   ========================================================================== */
/* ==========================================================================
   WooCommerce MyAccount Page Responsive styles - begin
   ========================================================================== */
@media only screen and (max-width: 1024px) {
  .eltd-woocommerce-page.woocommerce-account .woocommerce-MyAccount-navigation {
    width: 28%;
    padding: 0 15px 0 0;
  }
  .eltd-woocommerce-page.woocommerce-account .woocommerce-MyAccount-content {
    width: 72%;
    padding: 0 0 0 15px;
  }
  .eltd-woocommerce-page.woocommerce-account .woocommerce table.shop_table td, .eltd-woocommerce-page.woocommerce-account .woocommerce table.shop_table th {
    padding: 15px 20px;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-woocommerce-page.woocommerce-account .woocommerce-MyAccount-navigation,
  .eltd-woocommerce-page.woocommerce-account .woocommerce-MyAccount-content {
    float: none;
    width: 100%;
    padding: 0;
  }
  .eltd-woocommerce-page.woocommerce-account .woocommerce-MyAccount-content {
    margin: 50px 0 0;
  }
  .eltd-woocommerce-page.woocommerce-account .woocommerce .col2-set.addresses .col-1,
  .eltd-woocommerce-page.woocommerce-account .woocommerce .col2-set.addresses .col-2 {
    width: 100%;
  }
  .eltd-woocommerce-page.woocommerce-account .woocommerce .col2-set.addresses .col-1 {
    margin: 0 0 25px;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-woocommerce-page.woocommerce-account .woocommerce table.shop_table td, .eltd-woocommerce-page.woocommerce-account .woocommerce table.shop_table th {
    padding: 12px 18px;
  }
}

/* ==========================================================================
   WooCommerce MyAccount Page Responsive styles - end
   ========================================================================== */
/* ==========================================================================
   7. Shortcodes responsive styles - begin
   ========================================================================== */
/* Woocommerce Product Page shortcode responsive style - begin
========================================================================== */
@media only screen and (max-width: 600px) {
  div.woocommerce > .single-product .images .thumbnails.columns-4 a {
    width: 50%;
  }
}

@media only screen and (max-width: 480px) {
  div.woocommerce > .single-product .woocommerce-tabs {
    margin: 34px 0 0;
  }
  div.woocommerce > .single-product .woocommerce-tabs ul.tabs > li {
    float: none;
    width: 100%;
    padding: 11px 0 0;
  }
  div.woocommerce > .single-product .woocommerce-tabs ul.tabs > li a {
    display: block;
  }
}

/* Woocommerce Product Page shortcode responsive style - end
========================================================================== */
/* ==========================================================================
   8. Widgets responsive styles - begin
   ========================================================================== */
/* ==========================================================================
   WooCommerce Dropdown Cart Responsive styles - begin
   ========================================================================== */
@media only screen and (max-width: 768px) {
  .eltd-shopping-cart-dropdown ul {
    margin: 20px;
  }
}

/* ==========================================================================
   WooCommerce Dropdown Cart Responsive styles - end
   ========================================================================== */
/* ==========================================================================
   WooCommerce Widget Responsive styles - start
   ========================================================================== */
@media only screen and (max-width: 1025px) {
  .widget.woocommerce.widget_price_filter .price_slider_amount .button {
    margin-left: 30px;
  }
}

/* ==========================================================================
   WooCommerce Widget Responsive styles - end
   ========================================================================== */
/* ==========================================================================
   WooCommerce Responsive styles - end
   ========================================================================== */
/********** Product list shortcode responsive style **********/
/* ==========================================================================
# Woocommerce Product List Shortcode responsive style - begin
========================================================================== */
@media only screen and (max-width: 1440px) {
  .eltd-pl-holder.eltd-masonry-layout.eltd-five-columns .eltd-pli,
  .eltd-pl-holder.eltd-masonry-layout.eltd-five-columns .eltd-pl-sizer {
    width: 25%;
  }
  .eltd-pl-holder.eltd-masonry-layout.eltd-five-columns .eltd-pli.eltd-woo-image-large-width {
    width: 50%;
  }
  .eltd-pl-holder.eltd-masonry-layout.eltd-six-columns .eltd-pli,
  .eltd-pl-holder.eltd-masonry-layout.eltd-six-columns .eltd-pl-sizer {
    width: 25%;
  }
  .eltd-pl-holder.eltd-masonry-layout.eltd-six-columns .eltd-pli.eltd-woo-image-large-width {
    width: 50%;
  }
  .eltd-pl-holder.eltd-standard-layout.eltd-six-columns .eltd-pli {
    width: 20%;
  }
}

@media only screen and (max-width: 1440px) and (min-width: 1201px) {
  .eltd-pl-holder.eltd-standard-layout.eltd-six-columns .eltd-pli:nth-child(6n+1) {
    clear: none;
  }
  .eltd-pl-holder.eltd-standard-layout.eltd-six-columns .eltd-pli:nth-child(5n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1200px) {
  .eltd-pl-holder.eltd-masonry-layout.eltd-two-columns .eltd-pli,
  .eltd-pl-holder.eltd-masonry-layout.eltd-two-columns .eltd-pl-sizer {
    width: 50%;
  }
  .eltd-pl-holder.eltd-masonry-layout.eltd-two-columns .eltd-pli.eltd-woo-image-large-width {
    width: 100%;
  }
  .eltd-pl-holder.eltd-masonry-layout.eltd-three-columns .eltd-pli,
  .eltd-pl-holder.eltd-masonry-layout.eltd-three-columns .eltd-pl-sizer {
    width: 33.3333333333%;
  }
  .eltd-pl-holder.eltd-masonry-layout.eltd-three-columns .eltd-pli.eltd-woo-image-large-width {
    width: 66.6666666667%;
  }
  .eltd-pl-holder.eltd-masonry-layout.eltd-four-columns .eltd-pli,
  .eltd-pl-holder.eltd-masonry-layout.eltd-four-columns .eltd-pl-sizer {
    width: 25%;
  }
  .eltd-pl-holder.eltd-masonry-layout.eltd-four-columns .eltd-pli.eltd-woo-image-large-width {
    width: 50%;
  }
  .eltd-pl-holder.eltd-masonry-layout.eltd-five-columns .eltd-pli,
  .eltd-pl-holder.eltd-masonry-layout.eltd-five-columns .eltd-pl-sizer {
    width: 25%;
  }
  .eltd-pl-holder.eltd-masonry-layout.eltd-five-columns .eltd-pli.eltd-woo-image-large-width {
    width: 50%;
  }
  .eltd-pl-holder.eltd-masonry-layout.eltd-six-columns .eltd-pli,
  .eltd-pl-holder.eltd-masonry-layout.eltd-six-columns .eltd-pl-sizer {
    width: 25%;
  }
  .eltd-pl-holder.eltd-masonry-layout.eltd-six-columns .eltd-pli.eltd-woo-image-large-width {
    width: 50%;
  }
  .eltd-pl-holder.eltd-standard-layout.eltd-five-columns .eltd-pli {
    width: 25%;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 1025px) {
  .eltd-pl-holder.eltd-standard-layout.eltd-five-columns .eltd-pli:nth-child(5n+1) {
    clear: none;
  }
  .eltd-pl-holder.eltd-standard-layout.eltd-five-columns .eltd-pli:nth-child(4n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1200px) {
  .eltd-pl-holder.eltd-standard-layout.eltd-six-columns .eltd-pli {
    width: 25%;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 1025px) {
  .eltd-pl-holder.eltd-standard-layout.eltd-six-columns .eltd-pli:nth-child(6n+1) {
    clear: none;
  }
  .eltd-pl-holder.eltd-standard-layout.eltd-six-columns .eltd-pli:nth-child(4n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-pl-holder.eltd-masonry-layout.eltd-two-columns .eltd-pli,
  .eltd-pl-holder.eltd-masonry-layout.eltd-two-columns .eltd-pl-sizer {
    width: 50%;
  }
  .eltd-pl-holder.eltd-masonry-layout.eltd-two-columns .eltd-pli.eltd-woo-image-large-width {
    width: 100%;
  }
  .eltd-pl-holder.eltd-masonry-layout.eltd-three-columns .eltd-pli,
  .eltd-pl-holder.eltd-masonry-layout.eltd-three-columns .eltd-pl-sizer {
    width: 33.3333333333%;
  }
  .eltd-pl-holder.eltd-masonry-layout.eltd-three-columns .eltd-pli.eltd-woo-image-large-width {
    width: 66.6666666667%;
  }
  .eltd-pl-holder.eltd-masonry-layout.eltd-four-columns .eltd-pli,
  .eltd-pl-holder.eltd-masonry-layout.eltd-four-columns .eltd-pl-sizer {
    width: 33.3333333333%;
  }
  .eltd-pl-holder.eltd-masonry-layout.eltd-four-columns .eltd-pli.eltd-woo-image-large-width {
    width: 66.6666666667%;
  }
  .eltd-pl-holder.eltd-masonry-layout.eltd-five-columns .eltd-pli,
  .eltd-pl-holder.eltd-masonry-layout.eltd-five-columns .eltd-pl-sizer {
    width: 33.3333333333%;
  }
  .eltd-pl-holder.eltd-masonry-layout.eltd-five-columns .eltd-pli.eltd-woo-image-large-width {
    width: 66.6666666667%;
  }
  .eltd-pl-holder.eltd-masonry-layout.eltd-six-columns .eltd-pli,
  .eltd-pl-holder.eltd-masonry-layout.eltd-six-columns .eltd-pl-sizer {
    width: 33.3333333333%;
  }
  .eltd-pl-holder.eltd-masonry-layout.eltd-six-columns .eltd-pli.eltd-woo-image-large-width {
    width: 66.6666666667%;
  }
  .eltd-pl-holder.eltd-standard-layout.eltd-four-columns .eltd-pli {
    width: 33.3333333333%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .eltd-pl-holder.eltd-standard-layout.eltd-four-columns .eltd-pli:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-pl-holder.eltd-standard-layout.eltd-five-columns .eltd-pli {
    width: 33.3333333333%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .eltd-pl-holder.eltd-standard-layout.eltd-five-columns .eltd-pli:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-pl-holder.eltd-standard-layout.eltd-six-columns .eltd-pli {
    width: 33.3333333333%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .eltd-pl-holder.eltd-standard-layout.eltd-six-columns .eltd-pli:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .eltd-pl-holder.eltd-standard-layout.eltd-two-columns .eltd-pli:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .eltd-pl-holder.eltd-standard-layout.eltd-three-columns .eltd-pli:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-pl-holder.eltd-masonry-layout.eltd-two-columns .eltd-pli,
  .eltd-pl-holder.eltd-masonry-layout.eltd-two-columns .eltd-pl-sizer {
    width: 50%;
  }
  .eltd-pl-holder.eltd-masonry-layout.eltd-two-columns .eltd-pli.eltd-woo-image-large-width {
    width: 100%;
  }
  .eltd-pl-holder.eltd-masonry-layout.eltd-three-columns .eltd-pli,
  .eltd-pl-holder.eltd-masonry-layout.eltd-three-columns .eltd-pl-sizer {
    width: 50%;
  }
  .eltd-pl-holder.eltd-masonry-layout.eltd-three-columns .eltd-pli.eltd-woo-image-large-width {
    width: 100%;
  }
  .eltd-pl-holder.eltd-masonry-layout.eltd-four-columns .eltd-pli,
  .eltd-pl-holder.eltd-masonry-layout.eltd-four-columns .eltd-pl-sizer {
    width: 50%;
  }
  .eltd-pl-holder.eltd-masonry-layout.eltd-four-columns .eltd-pli.eltd-woo-image-large-width {
    width: 100%;
  }
  .eltd-pl-holder.eltd-masonry-layout.eltd-five-columns .eltd-pli,
  .eltd-pl-holder.eltd-masonry-layout.eltd-five-columns .eltd-pl-sizer {
    width: 50%;
  }
  .eltd-pl-holder.eltd-masonry-layout.eltd-five-columns .eltd-pli.eltd-woo-image-large-width {
    width: 100%;
  }
  .eltd-pl-holder.eltd-masonry-layout.eltd-six-columns .eltd-pli,
  .eltd-pl-holder.eltd-masonry-layout.eltd-six-columns .eltd-pl-sizer {
    width: 50%;
  }
  .eltd-pl-holder.eltd-masonry-layout.eltd-six-columns .eltd-pli.eltd-woo-image-large-width {
    width: 100%;
  }
  .eltd-pl-holder.eltd-standard-layout.eltd-two-columns .eltd-pli {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) and (min-width: 601px) {
  .eltd-pl-holder.eltd-standard-layout.eltd-two-columns .eltd-pli:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-pl-holder.eltd-standard-layout.eltd-three-columns .eltd-pli {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) and (min-width: 601px) {
  .eltd-pl-holder.eltd-standard-layout.eltd-three-columns .eltd-pli:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-pl-holder.eltd-standard-layout.eltd-four-columns .eltd-pli {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) and (min-width: 601px) {
  .eltd-pl-holder.eltd-standard-layout.eltd-four-columns .eltd-pli:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-pl-holder.eltd-standard-layout.eltd-five-columns .eltd-pli {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) and (min-width: 601px) {
  .eltd-pl-holder.eltd-standard-layout.eltd-five-columns .eltd-pli:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-pl-holder.eltd-standard-layout.eltd-six-columns .eltd-pli {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) and (min-width: 601px) {
  .eltd-pl-holder.eltd-standard-layout.eltd-six-columns .eltd-pli:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-pl-holder.eltd-masonry-layout.eltd-two-columns .eltd-pli,
  .eltd-pl-holder.eltd-masonry-layout.eltd-two-columns .eltd-pl-sizer,
  .eltd-pl-holder.eltd-masonry-layout.eltd-two-columns .eltd-pli.eltd-woo-image-large-width {
    width: 100%;
  }
  .eltd-pl-holder.eltd-masonry-layout.eltd-three-columns .eltd-pli,
  .eltd-pl-holder.eltd-masonry-layout.eltd-three-columns .eltd-pl-sizer,
  .eltd-pl-holder.eltd-masonry-layout.eltd-three-columns .eltd-pli.eltd-woo-image-large-width {
    width: 100%;
  }
  .eltd-pl-holder.eltd-masonry-layout.eltd-four-columns .eltd-pli,
  .eltd-pl-holder.eltd-masonry-layout.eltd-four-columns .eltd-pl-sizer,
  .eltd-pl-holder.eltd-masonry-layout.eltd-four-columns .eltd-pli.eltd-woo-image-large-width {
    width: 100%;
  }
  .eltd-pl-holder.eltd-masonry-layout.eltd-five-columns .eltd-pli,
  .eltd-pl-holder.eltd-masonry-layout.eltd-five-columns .eltd-pl-sizer,
  .eltd-pl-holder.eltd-masonry-layout.eltd-five-columns .eltd-pli.eltd-woo-image-large-width {
    width: 100%;
  }
  .eltd-pl-holder.eltd-masonry-layout.eltd-six-columns .eltd-pli,
  .eltd-pl-holder.eltd-masonry-layout.eltd-six-columns .eltd-pl-sizer,
  .eltd-pl-holder.eltd-masonry-layout.eltd-six-columns .eltd-pli.eltd-woo-image-large-width {
    width: 100%;
  }
  .eltd-pl-holder.eltd-standard-layout.eltd-two-columns .eltd-pli {
    width: 100%;
  }
  .eltd-pl-holder.eltd-standard-layout.eltd-three-columns .eltd-pli {
    width: 100%;
  }
  .eltd-pl-holder.eltd-standard-layout.eltd-four-columns .eltd-pli {
    width: 100%;
  }
  .eltd-pl-holder.eltd-standard-layout.eltd-five-columns .eltd-pli {
    width: 100%;
  }
  .eltd-pl-holder.eltd-standard-layout.eltd-six-columns .eltd-pli {
    width: 100%;
  }
}

/* ==========================================================================
# Woocommerce Product List Shortcode responsive style - end
========================================================================== */

/*# sourceMappingURL=woocommerce-responsive.css.map */