.eltd-search-dropdown {
	.widget_eltd_search_opener {
		position: relative;
		cursor: pointer;
	}

	.eltd-search-dropdown-holder {
		position: absolute;
		top: calc(100% + 1px);
		right: 0;
		padding: 13px;
		width: 378px;
		height: 61px;

		z-index: 10;
		opacity: 0;
		visibility: hidden;

		background-color: #fff;
		border: 1px solid #f2f2f2;

		line-height: $default-text-line-height;

		@include eltdBoxSizing(border-box);
		@include eltdTransition(visibility 0s linear 0.2s, opacity 0.2s ease-in-out 0s);

		input[type=text] {
			background-color: transparent;
			border: none;
			outline: none;
			width: 75%;
			display: block;

			font-family: $default-font-family;
			font-size: 12px;
			color: #969696;
			float: left;
			background-color: #f7f7f7;
			padding: 10px 17px;
			height: 35px;

			@include eltdBoxSizing(border-box);

			&::-webkit-input-placeholder,
			.eltd-dark-header &::-webkit-input-placeholder,
			.eltd-light-header &::-webkit-input-placeholder,
			.eltd-top-bar-dark &::-webkit-input-placeholder,
			.eltd-top-bar-light &::-webkit-input-placeholder {
				color: #969696;
			}

			&:-moz-placeholder,
			.eltd-dark-header &:-moz-placeholder,
			.eltd-light-header &:-moz-placeholder,
			.eltd-top-bar-dark &:-moz-placeholder,
			.eltd-top-bar-light &:-moz-placeholder {
				color: #969696;
				opacity: 1;
			}

			&::-moz-placeholder,
			.eltd-dark-header &::-moz-placeholder,
			.eltd-light-header &::-moz-placeholder,
			.eltd-top-bar-light &::-moz-placeholder,
			.eltd-top-bar-dark &::-moz-placeholder {
				color: #969696;
				opacity: 1;
			}
		}

		input[type=submit] {
			float: left;
			width: 25%;
			min-width: auto;
			padding: 7px 0;
			font-weight: 600;
		}
	}

	&.eltd-header-standard-border-disable .eltd-search-dropdown-holder {
		top: 100%;
	}

	.widget_eltd_search_opener:hover .eltd-search-dropdown-holder {
		opacity: 1;
		visibility: visible;

		@include eltdTransitionDelay(0s);
	}
}

.eltd-top-bar {
	.eltd-position-left {
		.eltd-search-dropdown-holder {
			left: 0;
			right: auto;
		}
	}
}

.widget.widget_eltd_search_opener.eltd-right-from-main-menu-widget {
	padding: 0 3px 0 13px;
}