@media only screen and (max-width: map-get($breakpoints, ipad-landscape)) {
	.eltd-portfolio-list-holder-outer {
		&.eltd-ptf-five-columns article,
		&.eltd-ptf-six-columns article {
			width: 33%;
		}

		&.eltd-ptf-four-columns article {
			width: 50%;
		}

		&.eltd-ptf-with-spaces {
			&.eltd-ptf-five-columns article,
			&.eltd-ptf-six-columns article {
				width: 32.53%;
			}

			&.eltd-ptf-four-columns article {
				width: 49.4%;
			}
		}

		&.eltd-ptf-pinterest-five-columns,
		&.eltd-ptf-pinterest-five-columns {
			.eltd-ptf-pinterest-four-columns {
				article,
				.eltd-portfolio-list-masonry-grid-sizer {
					width: 33.33%;
				}
			}
		}

		&.eltd-ptf-masonry {
			.eltd-portfolio-list-masonry-grid-sizer,
			article.eltd-default-masonry-item,
			article.eltd-large-height-masonry-item {
				width: 50%;
			}
			.eltd-large-width-masonry-item,
			.eltd-large-width-height-masonry-item {
				width: 100%;
			}
		}
	}

	.eltd-portfolio-single-holder {
		.eltd-portfolio-single-nav {
			margin-top: 50px;
		}

		&.small-images,
		&.big-images {
			.eltd-portfolio-single-media {
				margin-bottom: 25px;
			}
		}

		.eltd-portfolio-info-holder {
			margin-top: 25px;
		}
	}

	.gallery.eltd-portfolio-gallery-four-columns {
		.eltd-portfolio-single-media {
			width: 50%;
		}
	}
}

@include ipad-portrait {
	.eltd-portfolio-single-holder {
		.eltd-portfolio-single-nav {
			.eltd-single-nav-image-holder {
				display: none;
			}

			.eltd-single-nav-content-holder {
				padding: 0 !important;
			}
		}
	}

	.gallery.eltd-portfolio-gallery-four-columns,
	.gallery.eltd-portfolio-gallery-three-columns,
	.gallery.eltd-portfolio-gallery-two-columns {
		.eltd-portfolio-single-media {
			width: 100%;
		}
	}

	.eltd-portfolio-list-holder-outer.eltd-ptf-masonry.eltd-ptf-masonry-four-columns .eltd-portfolio-list-masonry-grid-sizer,
	.eltd-portfolio-list-holder-outer.eltd-ptf-masonry.eltd-ptf-masonry-four-columns article.eltd-default-masonry-item,
	.eltd-portfolio-list-holder-outer.eltd-ptf-masonry.eltd-ptf-masonry-four-columns article.eltd-large-height-masonry-item {
		width: 50%;
	}
}

@media only screen and (max-width: map-get($breakpoints, phone-landscape)) {
	.eltd-portfolio-list-holder-outer {
		article,
		.eltd-portfolio-list-masonry-grid-sizer {
			width: 100% !important;
		}
	}

	.eltd-portfolio-filter-holder {
		.eltd-portfolio-filter-holder-inner ul li {
			float: none;
			text-align: center;
			padding: 0;
		}
	}
}