@import "mixins";
@import "variables";

.eltd-page {

    @import "eltd-forms/inputs";
    @import "eltd-forms/holders";
}

@media only screen and (max-width: $second-break-point) {
    #wpbody select.eltd-form-element {
        font-size: 13px;
        height: 34px;
    }
}