/* ==========================================================================
# Portfolio Single Small Slider - begin
========================================================================== */

.small-slider {

	.eltd-portfolio-info-holder {

		.eltd-portfolio-item-content {
			margin-bottom: 0; 
		}

		.eltd-portfolio-content-holder {
			margin-bottom: 60px;
		}

		.eltd-portfolio-item-button {
			margin-top: 25px;
		}

		.eltd-portfolio-item-social:before {
			color: $first-main-color;
		}
	}

	.eltd-portfolio-media {
		margin-left: -($eltd-gutter-width / 2);
		margin-right: -($eltd-gutter-width / 2);
		margin-top: 15px;
		@include eltdClearfix;
	}

	.eltd-follow-portfolio-info {
		position: relative;

		//@include eltdTransition(margin-top 0.2s ease);
	}
}

/* ==========================================================================
# Portfolio Single Small Slider - end
========================================================================== */