@include ipad-landscape {

	.eltd-title {

		&.eltd-has-background {
			background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
			height: auto !important;
			padding: 0 !important;
		}

		&.eltd-title-image-not-responsive {
			.eltd-title-image {
				display: block;
			}
		}

		.eltd-title-holder {
			height: 100% !important;
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			padding: 0 !important;
		}

		.eltd-title-holder .eltd-container {
			display: block;
			height: 100%;
		}

		.eltd-title-holder .eltd-container-inner {
			display: table;
			height: 100%;
		}

		.eltd-title-holder .eltd-title-subtitle-holder {
			display: table-cell;
			vertical-align: middle;
			width: 100%;
		}

		.eltd-title-subtitle-holder {
			padding: 0px !important;
		}

		&.eltd-standard-type .eltd-breadcrumbs-holder {
			position: relative !important;
			top: auto !important;
			left: auto !important;
			right: auto !important;
		}

	}

}

@include ipad-portrait {
	.eltd-large-title-text {
		.eltd-title .eltd-title-holder h1 {
			font-size: 40px;
		}

		&.eltd-title-with-subtitle .eltd-title .eltd-title-holder h1 {
			margin-bottom: 15px;
		}
	}

	.eltd-title .eltd-title-holder .eltd-subtitle {
		width: 100%;
	}

	.eltd-large-title-text & .eltd-title .eltd-title-holder .eltd-subtitle {
		font-size: 15px;
	}

	.eltd-title-separator-with-icon {
		display: none;
	}

	.eltd-title.eltd-standard-type.eltd-content-center-alignment .eltd-breadcrumbs-holder {
		margin: 10px 0 0 0;
	}
}

@include phone-landscape {
	.eltd-large-title-text {
		.eltd-title .eltd-title-holder h1 {
			font-size: 30px;
		}

		&.eltd-title-with-subtitle .eltd-title .eltd-title-holder h1 {
			margin-bottom: 10px;
		}
	}

	.eltd-medium-title-text {
		.eltd-title .eltd-title-holder h1 {
			font-size: 20px;
		}

		&.eltd-title-with-subtitle .eltd-title .eltd-title-holder h1 {
			margin-bottom: 10px;
		}
	}
}

@include phone-portrait {

	.eltd-medium-title-text {
		.eltd-title .eltd-title-holder h1 {
			font-size: 18px;
		}
	}

	.eltd-title .eltd-title-holder {
		.eltd-breadcrumbs {
			a, span {
				font-size: 12px;
			}
		}

		.eltd-subtitle {
			font-size: 13px;
		}
	}

	.eltd-title .eltd-title-holder h1 {
		font-size: 28px;
	}

	.eltd-breadcrumbs-holder {
		display: none !important;
	}
}

