.eltd-blog-date-on-side {
	article {
		margin-bottom: 48px;

		.eltd-post-image {
			margin-bottom: 21px;
		}

		.eltd-post-info {
			margin-top: 15px;
		}

		h6.eltd-author-name {
			margin-top: 3px;
		}

		&.format-quote {
			margin-bottom: 113px;
		}

		&.format-link {
			margin-bottom: 113px;
		}

	}

	.eltd-date-format {
		float: left;
		padding: 8px 18px 9px 18px;
		background-color: #f5f5f5;
		color: #111;
		font-weight: 700;
		position: relative;
		top: 5px;
		max-width: 71px;

		@include eltdBoxSizing(border-box);
	}

	span.eltd-day {
		display: block;
		text-align: center;
		font-size: 25px;
	}

	span.eltd-month {
		display: block;
		text-align: center;
		text-transform: uppercase;
		font-size: 17px;
	}

	.eltd-post-text-inner {
		margin-left: 106px;
		padding-bottom: 22px;
		border-bottom: 1px solid #f2f2f2;
	}

	.post_format-post-format-link .eltd-post-text-inner,
	.post_format-post-format-quote .eltd-post-text-inner {
		margin-left: 0 !important;
		padding-bottom: 0 !important;
		border-bottom: 0 !important;
	}

	.format-link {
		.eltd-post-mark {
			color: #fff;
			font-size: 40px;
			background-color: $first-main-color;
			float: left;
			width: 83px;
			height: 83px;
			line-height: 83px;
			text-align: center;
			position: absolute;
			top: 0;
			left: 0;
		}

		h4.eltd-post-title {
			margin-left: 106px;
		}

	}

	.format-quote {
		.eltd-post-mark {
			color: #fff;
			font-size: 60px;
			background-color: $first-main-color;
			float: left;
			width: 83px;
			height: 83px;
			line-height: 83px;
			text-align: center;
			position: absolute;
			left: 0;

		}

		.eltd-post-title {
			margin-bottom: 14px;
		}

		.eltd-post-title-holder {
			margin-left: 106px;
		}

		p.eltd-quote-author {
			color: $first-main-color;
		}
	}

	.eltd-more-link-container {
		margin-top: 20px;
	}

	.eltd-post-content .eltd-author-desc {
		padding-left: 106px;
	}
}