.eltd-blog-holder {
	&.eltd-masonry-full-width {

		margin-right: 2%;
		margin-left: 2%;

		article {
			width: 18.4%;
		}
		.eltd-blog-masonry-grid-sizer {
			width: 18.4%;
		}
		.eltd-blog-masonry-grid-gutter {
			width: 2%;
		}
	}
}