@media only screen and (max-width: map-get($breakpoints, laptop-landscape-large)) {

	.single-portfolio-item {

		.eltd-content {

			.eltd-content-inner > .eltd-full-width > .eltd-full-width-inner {
				padding: 107px 60px 60px;

				.eltd-column1 > .eltd-column-inner {
					padding-right: 30px;
				}

				.eltd-column2 > .eltd-column-inner {
					padding-left: 30px;
				}

				.eltd-portfolio-media .eltd-portfolio-single-media:not(:last-child) {
					margin-bottom: 60px;
				}
			}
		}
	}
}

@media only screen and (max-width: map-get($breakpoints, ipad-landscape)) {

	.single-portfolio-item {

		.eltd-content {

			.eltd-content-inner > .eltd-full-width > .eltd-full-width-inner {
				padding: 107px 40px 60px;

				.eltd-column1 > .eltd-column-inner {
					padding-right: 0;
				}

				.eltd-column2 > .eltd-column-inner {
					padding-left: 0;
				}

				.eltd-portfolio-media .eltd-portfolio-single-media:not(:last-child) {
					margin-bottom: 40px;
				}
			}
		}
	}

	.gallery.eltd-portfolio-single-holder .eltd-portfolio-info-item.eltd-portfolio-content-holder,
	.big-images.eltd-portfolio-single-holder .eltd-portfolio-info-item.eltd-portfolio-content-holder,
	.big-slider.eltd-portfolio-single-holder .eltd-portfolio-info-item.eltd-portfolio-content-holder {
		margin-top: 30px;
	}
}

@include phone-portrait {
	.eltd-portfolio-single-holder .eltd-portfolio-single-navigation {
		h3.eltd-single-nav-post-title a {
			display: none;
		}

		.eltd-single-nav-content-holder {
			padding: 34px 0;
		}

		.eltd-portfolio-single-next .eltd-single-nav-arrow,
		.eltd-portfolio-single-prev .eltd-single-nav-arrow {
			margin-top: 0;
		}
	}

	.eltd-portfolio-single-holder .eltd-portfolio-single-navigation {
		.eltd-portfolio-single-prev .eltd-single-nav-text {
			padding-right: 40px;
			text-align: right;
		}

		.eltd-portfolio-single-next .eltd-single-nav-text {
			padding-left: 34px;
			text-align: left;
		}
	}
}