.eltd-page-header {
	background-color: #283943;
	color: #fff;
	border-left: none;
	position: relative;

	&.eltd-header-fixed {
		position: fixed;
		z-index: 9;
		border-bottom:1px solid #1e2c34;
	}

	img.eltd-header-logo {
		width: 30px;
	}

	.eltd-page-title {
		color: #fff;
		padding: 0;
		margin: 0 0 0 20px;
		line-height: 35px;
	}

	@media only screen and (max-width: $first-break-point) {
		img.eltd-header-logo {
			width:20px;
		}
	}

	.form-top-section-holder  {
		display: table;
		height: 67px;
	}

	.form-top-section-inner {
		display: table-cell;
		vertical-align: middle;
		line-height: 0;
		padding-top: 6px;
	}

	.eltd-top-section-holder {
		margin-left: 253px;
	}

	.eltd-top-section-holder-inner {
		display: table;
		width: 100%
	}

	.form-top-section {
		display: table-cell;
		vertical-align: middle;
		width: 80%
	}

	.eltd-top-buttons-holder {
		display: table-cell;
		vertical-align: middle;
		text-align: right;
		width: 20%;
		padding-right: 20px;
	}

	.eltd-theme-name {
		padding: 18px 15px;
		width: 229px;
	}

	.eltd-theme-name h1 {
        color: #fff;
		font-size: 18px;
		margin-bottom: 0;
	}

	.eltd-theme-name img {
		width: 30px;
		margin-right: 10px;
	}

	@media only screen and (max-width: $first-break-point) {
		.eltd-theme-name {
			padding: 18px 10px;
			width: 40px;
		}
		.eltd-theme-name h1 {
			display:none;
		}
		.eltd-theme-name img {
			width: 20px;
			height: auto;
		}
		.eltd-top-section-holder {
			margin-left: 60px;
		}
	}
}